.about-main {
  background: $white-color;
  box-shadow: 0px 0px 25px rgba(0, 94, 184, 0.25);
  border-radius: 2px;
  z-index: 3;
  position: relative;

  &__content {
    padding: 32px 48px 32px 15px;
    box-sizing: border-box;
    @media screen and (max-width: 992px) {
      padding: 16px 16px 16px 0;
    }
    @media screen and (max-width: 768px) {
      padding: 20px 10px;
    }

    p {
      font-family: "Circe", sans-serif;
      font-size: 18px;
      line-height: 30px;
      color: $black-color;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 14px;
      }

      b {
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
}

.about-swiper {
  height: 100%;
  min-height: 668px;
  @media screen and (max-width: 992px) {
    min-height: 462px;
  }
  @media screen and (max-width: 768px) {
    height: 435px;
    min-height: auto;
  }

  .swiper-slide {
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
    }
  }

  .swiper-pagination {
    &-bullet {
      width: 24px;
      height: 24px;
      border-radius: 2px;
      background-color: $white-color;
      opacity: 0.45;
    }

    &-bullet-active {
      opacity: 1;
    }
  }
}

.about-content {
  padding: 48px;
  background: $light-blue-color2;
  border-radius: 2px;
  position: relative;
  @media screen and (max-width: 992px) {
    padding: 32px 16px 32px 0;
  }
  @media screen and (max-width: 768px) {
    padding: 20px 10px;
  }

  &.p-0-md {
    padding-top: 0;
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }

  hr {
    opacity: 0.4;
    border-bottom: 2px solid #D2DCE6;

    &.mt--15 {
      margin-top: -15px;
      @media screen and (max-width: 992px) {
        margin-top: 0;
      }
    }
  }

  &__block {
    position: relative;
    z-index: 2;
    margin-bottom: 48px;
    @media screen and (max-width: 992px) {
      margin-bottom: 32px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }

    .circle-icon {
      position: absolute;
      z-index: -1;

      img {
        width: 100%;
      }
    }

    .circle-icon1 {
      width: 87px;
      height: 88px;
      top: -30px;
      right: -20px;
    }

    .circle-icon2 {
      width: 198px;
      height: 199px;
      top: auto;
      bottom: 15px;
      right: 30%;
    }

    .circle-icon3 {
      width: 155px;
      height: 156px;
      top: 45px;
      left: 0;
    }
  }

  &__image1 {
    width: 100%;
    position: relative;
    border: 1px solid rgba(0, 169, 224, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 94, 184, 0.25);
    border-radius: 2px;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      margin-bottom: 34px;
      position: relative;
      padding-bottom: 60%;
    }
  }

  &__image2 {
    overflow: hidden;
    border: 1px solid rgba(0, 169, 224, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 94, 184, 0.25);
    border-radius: 2px;
    height: 385px;
    width: 290px;
    margin: auto;
    @media screen and (max-width: 992px) {
      height: 307px;
      width: 231px;
    }

    @media screen and (max-width: 768px) {
      width: 80%;
      padding-bottom: 100%;
      position: relative;
      margin-bottom: 34px;
    }
  }

  p {
    font-family: "Circe", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: $black-color;
    margin-bottom: 30px;
    @media screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 14px;
    }

    b {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    @media screen and (max-width: 768px) {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__info-block {
    background: $blue-color;
    border-radius: 2px;
    text-align: center;
    color: $white-color;
    padding: 24px;
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 11px;
    @media screen and (max-width: 992px) {
      font-size: 16px;
      line-height: 24px;
      padding: 20px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
      line-height: 20px;
      padding: 16px 10px;
    }
  }

  &__info {
    text-align: center;
    @media screen and (max-width: 768px) {
      padding: 0 10px 32px 10px;
    }

    p {
      font-family: "Circe", sans-serif;
      font-size: 18px;
      line-height: 30px;
      color: $black-color;
      margin-bottom: 0;
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
      }

      b {
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }

  .card-header {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/card-body.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $blue-color2;
    &[aria-expanded="false"] {
      background-color: $blue-color2;
      background-image: url("../img/card-body.png") !important;
    }
    &[aria-expanded="true"] {
      opacity: 0.95;
    }
  }

  .card-body__document {
    padding: 10px 48px;
    border-bottom: 4px solid #DCEBFA;
    @media screen and (max-width: 992px) {
      padding: 10px 24px;
    }
    @media screen and (max-width: 576px) {
      padding: 10px;
    }

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      font-family: "PT Sans", sans-serif;
      color: $blue-color;
      font-size: 18px;
      line-height: 26px;
      text-decoration: none;
      @media screen and (max-width: 576px) {
        font-size: 14px;
        line-height: 20px;
      }

      &:hover {

      }
    }
  }
}

.gallery-top {
  width: 100%;
  height: 360.08px;
  padding: 15px 0;
  background-color: $white-color;
  @media screen and (max-width: 768px) {
    height: auto;
  }

  .swiper-slide {
    position: relative;
    @media screen and (max-width: 768px) {
      padding-bottom: 56.6%;

      iframe {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.gallery-thumbs {
  .swiper-slide {
    height: 80.14px;
    @media screen and (max-width: 768px) {
      height: 55px;
    }
    @media screen and (max-width: 576px) {
      height: 40px;
    }

    iframe {
      pointer-events: none;
    }
  }
}
