.title-line {
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }

  hr {
    margin: 0;
    width: 100%;
    opacity: 0.4;
    border-bottom: 2px solid #D2DCE6;
    margin-left: 20px;
    margin-bottom: 24px;
    @media screen and (max-width: 768px) {
      margin-bottom: 12px;
      margin-left: 0;
    }
  }
}

.h2-blue {
  margin-bottom: 24px;
  font-family: "Circe", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: $blue-color;
  flex-shrink: 0;
  @media screen and (max-width: 1200px) {
    br {
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    font-size: 36px;
    line-height: 44px;
  }
  @media screen and (max-width: 576px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.center-info {
  margin-bottom: 36px;
  @media screen and (max-width: 992px) {
    justify-content: center;
    margin-bottom: 6px;
  }

  .col-md-6 {
    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
      max-width: calc(50% - 30px);
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      margin-bottom: 24px;
    }

    &:last-child {
      .center-info__item:after {
        display: none;
        @media screen and (max-width: 992px) {
          display: block;
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  &__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &:after {
      height: 6px;
      background-color: $blue-color;
      width: 30px;
      content: '';
      display: block;
      position: absolute;
      top: 22px;
      right: -30px;
      z-index: 1;
      @media screen and (max-width: 992px) {
        width: calc(100% + 60px);
      }
      @media screen and (max-width: 768px) {
        width: 6px;
        height: 24px;
        bottom: -24px;
        top: auto;
        right: auto;
        left: 24px;
      }
    }
  }

  &__header {
    height: 44px;
    text-align: center;
    background: $blue-color2;
    border-radius: 26px 2px 0px 0px;
    text-transform: uppercase;
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: $white-color;
    padding: 12px 0;
    z-index: 2;
  }

  &__body {
    height: calc(100% - 44px);
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    padding: 12px 16px 10px 16px;
    text-align: center;
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: $blue-color;
    @media screen and (max-width: 1200px) {
      padding: 10px 12px;
    }

    @media screen and (max-width: 992px) {
      font-size: 16px;
      line-height: 20px;
      padding: 10px 14px;
    }
  }

  &__image {
    padding-bottom: 66%;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 992px) {
      padding-bottom: 65%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}


.center-business {
  font-family: "Circe", sans-serif;
  margin-bottom: 36px;
  @media screen and (max-width: 576px) {
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  &__header {
    font-weight: 800;
    font-size: 22px;
    line-height: 28px;
    color: $white-color;
    padding: 24px;
    background-color: $blue-color2;
    border-radius: 2px 2px 0 0;
    @media screen and (max-width: 768px) {
      padding: 12px 16px;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  }

  &__body {
    border-radius: 0 0 2px 2px;
    padding: 24px 48px;
    background-color: $blue-color;
    background-image: url("../img/business-bg.png");
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    @media screen and (max-width: 1200px) {
      background-size: cover;
      .col-lg-6 {
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: 992px) {
      background-image: url("../img/business-md.png");
    }

    @media screen and (max-width: 768px) {
      padding: 14px 16px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
    @media screen and (max-width: 576px) {
      background-image: url("../img/business-xs.png");
    }

    p {
      font-family: "Circe", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
      color: $white-color;
      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.cultured {
  position: relative;
  height: 100%;
  background: linear-gradient(154.36deg, #005EB8 12.37%, #00A9E0 66.99%), #00A9E0;
  border-radius: 2px;
  padding: 16px 20px;
  @media screen and (max-width: 992px) {
    min-height: 142px;
  }
  @media screen and (max-width: 768px) {
    min-height: auto;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 150px;
    height: 65.16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-image: url("../img/circle-white.svg");
    top: 0;
    right: 24px;
    opacity: 1;
    z-index: 1;
  }

  &__wrap {
    position: relative;

    &:before {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      left: 30px;
      top: 15px;
      width: calc(100% - 60px);
      height: 172px;
      border: 6px solid $blue-color;
      @media screen and (max-width: 992px) {
        height: calc(100% - 90px);
        width: 6px;
        border: none;
        background-color: $blue-color;
      }
    }

    &:after {
      content: '';
      display: none;
      z-index: 1;
      position: absolute;
      right: 30px;
      top: 15px;
      height: calc(100% - 230px);
      width: 6px;
      background-color: $blue-color;
      @media screen and (max-width: 992px) {
        display: block;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .col-md-6 {
      position: relative;
      z-index: 2;
      margin-bottom: 30px;
    }

    .documents__item-raketa {
      height: 142px;
      @media screen and (max-width: 768px) {
        display: none !important;
      }
    }
  }

  &__title {
    color: $white-color;
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    z-index: 2;
    position: relative;
  }
}

.structure {
  padding-bottom: 6px;
  margin-bottom: 24px;
  border-bottom: 2px solid rgba(210, 220, 230, 0.4);

  &__sub {
    margin-bottom: 24px;
    font-family: "Circe", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $blue-color;
    @media screen and (max-width: 992px) {
      font-size: 18px;
      line-height: 24px;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__list {
    position: relative;

    &:after {
      content: '';
      background-color: $blue-color;
      width: 6px;
      height: calc(100% - 64px);
      top: 32px;
      right: 48px;
      position: absolute;
      z-index: 1;
      display: none;
      @media screen and (max-width: 992px) {
        display: block;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &:before {
      content: '';
      background-color: $blue-color;
      width: 6px;
      height: 50%;
      top: 32px;
      left: 48px;
      position: absolute;
      z-index: 1;
      display: none;
      @media screen and (max-width: 992px) {
        display: block;
      }
      @media screen and (max-width: 768px) {
        height: calc(100% - 64px);
        left: 40px;
      }
    }

    .col-lg-4, .col-lg-6 {
      margin-bottom: 30px;
      @media screen and (max-width: 992px) {
        margin-bottom: 24px;
      }

      .structure__item {
        &:before {
          content: '';
          background-color: $blue-color;
          width: 30px;
          height: 6px;
          top: 32px;
          right: -30px;
          position: absolute;
          z-index: 1;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }

      &:nth-child(3), &:nth-child(5), &:nth-child(8), &:nth-child(11) {
        .structure__item:before {
          display: none;
          @media screen and (max-width: 992px) {
            display: block;
          }
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }

      &:nth-child(2n) {
        @media screen and (max-width: 992px) {
          .structure__item:before {
            display: none;
          }
        }
      }

      &:nth-child(8), &:nth-child(11), &:nth-child(9) {
        @media screen and (max-width: 992px) {
          .structure__item:before {
            display: none !important;
          }
        }
      }

      &:nth-child(10), &:nth-child(8) {
        @media screen and (max-width: 992px) {
          .structure__item:before {
            display: block;
          }
        }
        @media screen and (max-width: 768px) {
          .structure__item:before {
            display: none;
          }
        }
      }
    }
  }

  &__item {
    border-radius: 26px 2px 2px 2px;
    background-color: $white-color;
    font-family: "Circe", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 25px rgba(0, 94, 184, 0.25);
    position: relative;
    z-index: 2;
  }

  &__header {
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F0F8FF;
    border-radius: 26px 2px 0px 0px;
    text-align: center;
    padding: 20px 24px 12px 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $blue-color;
    br {
      display: none;
    }
    @media screen and (max-width: 1200px) {
      padding: 20px 18px 12px 18px;
    }
    @media screen and (max-width: 768px) {
      padding: 20px 13px 12px 13px;
      br {
        display: block;
      }
    }
  }

  &__body {
    padding: 0 24px 20px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    @media screen and (max-width: 768px) {
      padding: 0 13px 20px 13px;
    }

    .btn {
      margin-top: 22px;
      padding-left: 5px;
      padding-right: 5px;
      @media screen and (max-width: 1200px) {
        width: calc(100% + 10px);
        margin-left: -5px;
      }
      @media screen and (max-width: 992px) {
        width: 100%;
        margin-left: 0;
      }

      span {
        letter-spacing: -0.2px;
      }
    }
  }

  &__text {
    text-align: center;
    margin-bottom: auto;

    p {
      color: $black-color;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    width: calc(100% + 48px);
    margin-left: -24px;
    padding-bottom: 67%;
    position: relative;
    margin-top: 16px;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      margin-top: 10px;
      width: calc(100% + 26px);
      margin-left: -13px;
    }

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__column {
    .structure__item {
      margin-bottom: 30px;
      @media screen and (max-width: 992px) {
        &:before {
          display: none;
        }
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__column-news {
    @media screen and (max-width: 992px) {
      justify-content: space-between;
      .structure__item {
        height: auto;
        margin-bottom: 30px;
      }
    }
    @media screen and (max-width: 768px) {
      .structure__item {
        margin-bottom: 0;
      }
    }
  }

  &__new {
    display: none;
    position: relative;
    border-radius: 2px;
    @media screen and (max-width: 992px) {
      display: block;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }

    &--image {
      position: relative;
      overflow: hidden;
      padding-bottom: 100%;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
      }
    }

    &--info {
      z-index: 2;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 16px;
      width: 100%;
      background: rgba(0, 94, 184, 0.3);
      backdrop-filter: blur(4px);
    }

    &--title {
      font-family: "Circe", sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
      color: $white-color;
      margin-bottom: 5px;
      letter-spacing: 0.01em;
    }

    .btn {
      width: 245px;
    }
  }
}
