.accordion-company {
  border: none;
  border-radius: 0;

  .card {
    border: none;
    border-radius: 0;
    margin-bottom: 12px;

    &-header {
      padding: 24px;
      display: flex;
      align-items: center;
      border-radius: 2px;
      justify-content: space-between;
      border: none;
      cursor: pointer;
      font-family: "Circe", sans-serif;
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0.01em;
      @media screen and (max-width: 992px) {
        font-size: 20px;
        line-height: 34px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 24px;
        padding: 24px 16px;
      }

      .icon {
        display: block;
        flex-shrink: 0;
        height: 32px;
        width: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 10px;
      }

      &[aria-expanded="false"] {
        color: $blue-color;
        background-color: $light-blue-color2;

        .icon {
          background-image: url("../img/plus-circle-blue2.svg");
        }
      }

      &[aria-expanded="true"] {
        color: $black-color;
        background-color: $light-blue-color;

        .icon {
          background-image: url("../img/minus-circle.svg");
        }
      }
    }

    &-body {
      padding: 12px 24px 24px 24px;
      background-color: $white-color;
      color: $black-color;
      position: relative;
      @media screen and (max-width: 992px) {
        padding: 12px 0;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 18px;
        left: 24px;
        width: calc(100% - 48px);
        opacity: 0.4;
        border-bottom: 2px solid #D2DCE6;
        @media screen and (max-width: 992px) {
          width: 100%;
          left: 0;
        }
      }

      p {
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: $black-color;
        margin-bottom: 14px;
        @media screen and (max-width: 992px) {
          font-size: 14px;
          line-height: 24px;
        }
        @media screen and (max-width: 576px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      h6 {
        padding-left: 32px;
        margin-bottom: 12px;
        font-family: "Circe", sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.01em;
        @media screen and (max-width: 992px) {
          padding-left: 20px;
        }
        @media screen and (max-width: 576px) {
          padding-left: 16px;
        }
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 24px;
        @media screen and (max-width: 992px) {
          margin-bottom: 20px;
          font-size: 14px;
          line-height: 20px;
        }
        @media screen and (max-width: 576px) {
          font-size: 12px;
          line-height: 18px;
        }

        li {
          display: block;
          position: relative;
          padding-left: 22px;
          margin-bottom: 10px;
          font-family: "PT Sans", sans-serif;
          font-size: 16px;
          line-height: 24px;
          @media screen and (max-width: 992px) {
            font-size: 14px;
            line-height: 24px;
            padding-left: 20px;
          }
          @media screen and (max-width: 576px) {
            font-size: 14px;
            line-height: 20px;
            padding-left: 16px;
          }

          &:before {
            content: '';
            display: block;
            height: 16px;
            width: 16px;
            position: absolute;
            left: 0;
            top: 5px;
            border-radius: 50%;
            border: 4px solid $blue-color2;
            box-sizing: border-box;
            @media screen and (max-width: 992px) {
              height: 14px;
              width: 14px;
            }
            @media screen and (max-width: 576px) {
              height: 12px;
              width: 12px;
              border-width: 3px;
            }
          }
        }
      }
    }
  }
}


.tab-nav {
  position: relative;
  width: 100%;

  .card {

    &-header {
      width: calc(50% - 15px);
    }

    &-body {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(50% - 15px);
    }
  }
}

.questions {
  justify-content: space-between;
  align-items: flex-start;

  .mCSB_dragger_bar {
    background-color: $blue-color !important;
    opacity: 0.7;
  }

  &__list {
    width: 33%;
    flex-shrink: 0;
    //max-height: 90vh;
    @media screen and (max-width: 992px) {
      width: 43%;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .nav-tabs {
    display: block;
    border-bottom: none;

    .nav-link {
      display: block;
      margin-bottom: 6px;
      border: none;
      border-radius: 0;
      padding: 24px 24px;
      background-color: $light-blue-color2;
      font-family: "Circe", sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: $blue-color;
      letter-spacing: 0.01em;
      position: relative;
      width: calc(100% - 20px);
      @media screen and (max-width: 1200px) {
        padding: 16px;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -20px;
        margin: auto;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        background-color: $light-blue-color2;
        background-size: 24px;
        background-position: center;
        background-repeat: no-repeat;
      }

      &[aria-selected="false"] {
        .icon {
          background-image: url("../img/arrow-ios-down3.svg");
        }
      }

      &[aria-selected="true"] {
        background-color: $light-blue-color;
        color: $black-color;

        .icon {
          background-size: 32px;
          background-image: url("../img/arrow-ios-down.svg");
          transform: rotate(-90deg);
          background-color: $light-blue-color;
        }
      }
    }
  }

  .tab-content {
    width: calc(67% - 16px);
    flex-shrink: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    @media screen and (max-width: 992px) {
      width: calc(57% - 16px);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      box-shadow: none;
    }

    .tab-pane {
      margin-bottom: 6px;

      &.show .collapse {
        display: block;
      }

      .collapse {
        @media screen and (max-width: 768px) {
          .card-body {
            display: none;
          }
          &.show {
            .card-body {
              display: block;
            }
          }
        }
      }

      @media screen and (max-width: 768px) {
        display: block;
        opacity: 1;
      }
    }

    .card-header {
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
      }
    }

    .card-body {
      padding: 24px;
      color: $black-color;
      font-family: "PT Sans", sans-serif;
      @media screen and (max-width: 768px) {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        margin-top: 26px;
        max-width: calc(100% - 48px);
        margin-left: 24px;
        padding: 24px;
      }

      @media screen and (max-width: 576px) {
        margin-top: 16px;
        max-width: 100%;
        margin-left: 0;
        padding: 10px 16px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        margin-bottom: 10px;
        @media screen and (max-width: 992px) {
          font-size: 14px;
          line-height: 20px;
        }
        @media screen and (max-width: 576px) {
          font-size: 14px;
          line-height: 20px;
        }

        span {
          color: $blue-color;
        }
      }

      h5 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.01em;
        margin-bottom: 12px;
        @media screen and (max-width: 992px) {
          font-size: 16px;
          line-height: 22px;
        }
        @media screen and (max-width: 576px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 24px;
        @media screen and (max-width: 992px) {
          margin-bottom: 20px;
          font-size: 14px;
          line-height: 20px;
        }
        @media screen and (max-width: 576px) {
          font-size: 14px;
          line-height: 20px;
        }

        li {
          display: block;
          position: relative;
          padding-left: 22px;
          margin-bottom: 10px;
          font-family: "PT Sans", sans-serif;
          font-size: 16px;
          line-height: 24px;
          @media screen and (max-width: 992px) {
            font-size: 14px;
            line-height: 20px;
            padding-left: 18px;
          }
          @media screen and (max-width: 576px) {
            font-size: 14px;
            line-height: 20px;
            padding-left: 16px;
          }

          &:before {
            content: '';
            display: block;
            height: 16px;
            width: 16px;
            position: absolute;
            left: 0;
            top: 5px;
            border-radius: 50%;
            border: 4px solid $blue-color2;
            box-sizing: border-box;
            @media screen and (max-width: 992px) {
              height: 14px;
              width: 14px;
              top: 4px;
            }
            @media screen and (max-width: 576px) {
              height: 12px;
              width: 12px;
              top: 3.5px;
              border-width: 3px;
            }
          }
        }
      }
    }
  }

  .card-header {
    border: none;
    font-family: "Circe", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    padding: 24px;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $light-blue-color;
    @media screen and (max-width: 576px) {
      padding: 16px;
    }

    .icon {
      display: block;
      width: 32px;
      height: 32px;
      margin-left: 5px;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../img/arrow-ios-down.svg");
      @media screen and (max-width: 576px) {
        width: 28px;
        height: 28px;
      }
    }

    &[aria-expanded="true"] {
      color: $blue-color;

      .icon {
        background-image: url("../img/arrow-ios-down4.svg");
        transform: rotate(180deg);
      }
    }

    &[aria-expanded="false"] {
      color: $black-color;

      .icon {
        transform: rotate(0deg);
      }
    }
  }
}




















