.footer {
  background: rgba(0, 94, 184, 0.95);;
  position: relative;

  @media screen and (max-width: 992px) {
  }

  .container {
    padding-bottom: 30px;
    background-image: url("../img/sevas.png");
    background-size: 43%;
    background-position: bottom right;
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
      padding-bottom: 203px;
      background-size: 100%;
      background-position: bottom center;
    }
  }


  &__main {
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: "PT Sans", sans-serif;
    width: 100%;
    justify-content: space-between;
    color: $white-color;
    align-items: center;
    position: relative;
    z-index: 3;
    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      padding-bottom: 26px;
      align-items: center;
    }
    @media screen and (max-width: 768px) {
      justify-content: flex-start;
    }

    &--logo {
      width: 188px;
      flex-shrink: 0;
      @media screen and (max-width: 1200px) {
        margin-right: 56px;
        margin-bottom: 13px;
      }
      @media screen and (max-width: 768px) {
        order: 1;
      }

      img {
        width: 100%;
      }
    }

    .footer__contact--polit {
      @media screen and (max-width: 768px) {
        order: 5;
        font-size: 12px;
        line-height: 12px;
        width: 120px;
        margin-bottom: 0;
        margin-left: 28px;

        a {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }

    .footer__contact--address {
      margin-bottom: 0 ;
      @media screen and (max-width: 768px) {
        display: none !important;
      }
    }

    &--title {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      @media screen and (max-width: 1200px) {
        width: calc(100% - 244px);
        margin-bottom: 13px;
        letter-spacing: 0;
      }
      @media screen and (max-width: 768px) {
        order: 3;
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 24px;
        margin-top: 15px;
        br {
          display: none;
        }
      }
    }

    &--lk-min {
      display: none;
      width: 69px;
      height: 60px;
      background: $blue-color2;
      border-radius: 2px 0px 0px 2px;
      position: absolute;
      top: 53px;
      right: calc((510px - 100vw) / 2);
      @media screen and (max-width: 768px) {
        display: block;
      }
      @media screen and (max-width: 576px) {
        right: -15px;
      }

      img {
        width: 38px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    &--lk {
      background: $blue-color2;
      border-radius: 2px;
      padding: 7px 23px;
      display: block;
      cursor: pointer;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $white-color;
      flex-shrink: 0;
      border: 1px solid $blue-color;
      box-sizing: border-box;
      transition: all 0.25s;
      @media screen and (max-width: 1200px) {
        background: $blue-color2;
        border-color: $blue-color2;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }

      &:hover {
        text-decoration: none;
        color: $white-color;
        border-color: $white-color;
      }
    }
  }

  &__soc {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 768px) {
      order: 4;
    }

    li {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }

    li a {
      display: block;
      height: 36px;
      width: 36px;
      background-repeat: no-repeat;
      background-size: cover;
      flex-shrink: 0;
      background-position: center;

      &.instagram {
        background-image: url("../img/instagram-f.svg");
      }

      &.facebook {
        background-image: url("../img/facebook-f.svg");
      }

      &.vk {
        background-image: url("../img/vk-f.svg");
      }

      &.twitter {
        background-image: url("../img/twitter-f.svg");
      }
    }
  }

  &__partners {
    padding-bottom: 45px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 3;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding-bottom: 8px;
  }

    &--text {
      font-family: "PT Sans", sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: $white-color;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      @media screen and (max-width: 1200px) {
        flex-shrink: 0;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

    &--list {
      margin-left: auto;
      @media screen and (max-width: 1200px) {
        flex-direction: column;
      }
      @media screen and (max-width: 768px) {
        margin-left: 0;
        width: 100%;
      }
    }

    &--row {
      &:last-child {
        .footer__partners--item:last-child {
          margin-right: 0;
        }
      }

      @media screen and (max-width: 1200px) {
        .footer__partners--item:last-child {
          margin-right: 0;
        }
      }
      @media screen and (max-width: 768px) {
        justify-content: space-between;
        width: 100%;
      }
    }

    &--item {
      display: block;
      width: 96px;
      height: 46px;
      background: $light-blue-color;
      margin-right: 16px;
      @media screen and (max-width: 1200px) {
        margin-bottom: 24px;
        margin-right: 31px;
      }
      @media screen and (max-width: 768px) {
        margin-right: auto;
        margin-bottom: 16px;
      }
      @media screen and (max-width: 576px) {
        width: 21%;
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  &__contact {
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    flex-wrap: wrap;
    @media screen and (max-width: 1200px) {
      width: 430px;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 300px;
    }


    &--copy {
      width: 190px;
      flex-shrink: 0;
      color: $gray-color;
      line-height: 22px;
      letter-spacing: 0.01em;
      @media screen and (max-width: 1200px) {
        order: 4;
        width: 230px;
      }

      @media screen and (max-width: 768px) {
        order: 3;
        width: 50%;
        font-size: 12px;
        line-height: 16px;
        padding-right: 15px;
      }
    }

    &--polit {
      color: $gray-color;
      width: 230px;
      flex-shrink: 0;
      @media screen and (max-width: 1200px) {
        order: 2;
        width: 230px;
        margin-bottom: 15px;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }

      .p2 {
        color: $white-color;
        line-height: 22px;
        letter-spacing: 0.01em;
        @media screen and (max-width: 768px) {
          font-size: 12px;
          line-height: 14px;
          display: contents;
        }
      }
    }

    &--link {
      width: 50%;
      flex-shrink: 0;
      margin-bottom: 30px;
      @media screen and (max-width: 1200px) {
        margin-bottom: 15px;
        width: 180px;
        order: 1;
      }
      @media screen and (max-width: 768px) {
        order: 4;
        width: 50%;
        margin-bottom: 0;
      }

      .p2 {
        display: block;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 0.01em;
        color: $white-color;
        @media screen and (max-width: 768px) {
          font-size: 12px;
          line-height: 16px;
        }

        &:hover {
          color: $white-color;
          text-decoration: none;
        }
      }
    }

    &--address {
      width: 284px;
      flex-shrink: 0;
      letter-spacing: 0.01em;
      color: $white-color;
      font-weight: bold;
      margin-bottom: 30px;
      @media screen and (max-width: 1200px) {
        display: none;
      }
      @media screen and (max-width: 768px) {
        width: 50%;
        display: block;
        font-size: 12px;
        line-height: 16px;
        order: 2;
        margin-bottom: 22px;
      }
    }

    &--number {
      width: 179px;
      flex-shrink: 0;
      @media screen and (max-width: 1200px) {
        width: 180px;
        order: 3;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 22px;
        order: 1;
        width: 50%;
      }

      .p2 {
        letter-spacing: 0.01em;
        color: $white-color;
        margin-bottom: 0;
        font-weight: bold;
        @media screen and (max-width: 768px) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}
