.event-item {
  text-decoration: none;
  align-items: flex-start;
  padding: 24px 0 24px 24px;
  background: $white-color;
  border-radius: 2px;
  margin-bottom: 12px;
  background-image: url("../img/event-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.25s;
  @media screen and (max-width: 1200px) {
    background-position: 90% 50%;
  }

  @media screen and (max-width: 992px) {
    padding: 16px 0 16px 16px;
    background-position: 85% 50%;
  }
  @media screen and (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    padding: 24px;
    text-align: center;
  }

  &:hover {
    text-decoration: none;
    box-shadow: 0px 4px 25px rgba(0, 94, 184, 0.25);

    .event-item__title {
      text-decoration: none;
      color: $blue-color;
    }

    .event-item__text {
      color: $dark-gray-color;
      text-decoration: none;
    }
  }

  &__image {
    width: 228px;
    flex-shrink: 0;
    height: 160px;
    position: relative;
    overflow: hidden;
    //border: 1px solid rgba(0, 169, 224, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 94, 184, 0.25);
    border-radius: 2px;
    margin-right: 24px;
    @media screen and (max-width: 992px) {
      width: 134px;
      height: 134px;
      margin-right: 16px;
    }
    @media screen and (max-width: 576px) {
      width: 222px;
      height: 150px;
      margin-bottom: 12px;
      margin-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__content {
  }

  &__title {
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $black-color;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    position: relative;
    padding-bottom: 6px;
    transition: all 0.25s;
    max-height: 48px;
    @media screen and (max-width: 992px) {
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 6px;
      max-height: 40px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
      margin-bottom: 10px;
    }

    &:after {
      content: '';
      display: block;
      height: 0;
      width: 100%;
      opacity: 0.4;
      border-bottom: 2px solid #D2DCE6;
      position: absolute;
      left: 0;
      bottom: 0px;
    }
  }

  &__text {
    color: $dark-gray-color;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
    @media screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 18px;
      -webkit-line-clamp: 4;
      max-height: 72px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 10px;
    }
  }

  &__info {
    width: 120px;
    flex-shrink: 0;
    padding-left: 16px;
    @media screen and (max-width: 992px) {
      width: 85px;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      min-height: 50px;
      position: relative;
      padding: 0;
    }
  }

  &__date {
    width: 122px;
    color: $white-color;
    background: $blue-color;
    border-radius: 2px 20px 20px 2px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 4.5px 5px 4.5px 12px;
    margin-bottom: 6px;
    align-items: center;
    @media screen and (max-width: 992px) {
      font-size: 12px;
      padding: 2px 5px 2px 4px;
      margin-bottom: 4px;
      width: 96px;
    }

    @media screen and (max-width: 576px) {
      position: absolute;
      right: -24px;
      top: 0;
      border-radius: 20px 2px 2px 20px;
    }

    span {
      display: block;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../img/calendar-white.svg");
      margin-right: 6px;
    }
  }

  &__time {
    background: $blue-color2;
    border-radius: 2px 20px 20px 2px;
    color: $white-color;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 4.5px 5px 4.5px 12px;
    align-items: center;
    margin-bottom: 24px;
    @media screen and (max-width: 992px) {
      font-size: 12px;
      padding: 2px 5px 2px 4px;
      margin-bottom: 16px;
    }

    @media screen and (max-width: 576px) {
      position: absolute;
      right: -24px;
      top: 27px;
      border-radius: 20px 2px 2px 20px;
    }

    span {
      display: block;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 14px;
      background-image: url("../img/checkmark-white.svg");
      margin-right: 6px;
    }
  }

  &__type {
    &--item {
      background: #DCEBFA;
      border-radius: 2px;
      display: table;
      padding: 4px 10px;
      font-family: "PT Sans", sans-serif;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.05em;
      color: $dark-gray-color;
      margin-bottom: 6px;
      text-transform: uppercase;
      @media screen and (max-width: 992px) {
        font-size: 9px;
        line-height: 12px;
      }
    }
  }
}

.aside-event-type {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 169, 224, 0.4);
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 2px;
  margin-bottom: 24px;

  &.aside-news-type {
    .aside-event-type__body {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 16px 14px 10px 14px;
    }

    .aside-event-type__item {
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: $dark-gray-color;
      margin-right: 6px;
      margin-bottom: 6px;
      padding: 4px 8px;
    }
  }

  &__header {
    padding: 16px 24px;
    text-align: center;
    font-family: "Circe", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: $white-color;
    background-color: $blue-color2;
    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      padding: 14px 16px;
      br {
        display: none;
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white-color;
    padding: 16px;
  }

  &__item {
    padding: 6px 33px;
    background: $light-blue-color;
    border-radius: 2px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: $dark-gray-color;
    margin-bottom: 6px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s;
    text-align: center;

    &.active {
      background-color: $blue-color2;
      color: $white-color !important;
    }
  }
}

.aside-datepicker {
  margin-bottom: 24px;

  .datepicker {
    width: 100%;

    &--nav {
      background-color: $blue-color2;

      &-title, &-title i {
        color: $white-color;

        &:hover {
          background-color: $blue-color;
        }
      }

      &-action path {
        stroke: $white-color;
      }

      &-action {
        &:hover {
          background-color: $blue-color;
        }
      }
    }

    &--days-names {
      border-bottom: 1.5px solid #D2DCE6;
      padding-bottom: 4px;

      .datepicker--day-name {
        font-family: "PT Sans", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $red-color;
      }
    }
  }
}

.new-item {
  padding: 24px;
  background-color: $white-color;
  margin-bottom: 12px;
  background-image: url("../img/event-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  text-decoration: none;
  position: relative;
  transition: all 0.25s;

  &:after {
    content: '';
    display: none;
    width: 85px;
    height: 170px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-image: url("../img/circle.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    opacity: 0.25;
  }

  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 992px) {
    padding: 16px;
    background-image: none;
    &:after {
      display: block;
    }
  }
  @media screen and (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    padding: 24px;
    &:after {
      display: none;
    }
  }

  &:last-child {
    margin-bottom: 40px;
  }

  &:hover {
    text-decoration: none;
    box-shadow: 0px 4px 25px rgba(0, 94, 184, 0.25);

    .new-item__title {
      color: $blue-color;
    }

    .new-item__text {
      color: $black-color;
    }
  }

  &__image {
    width: 202px;
    height: 160px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 24px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 94, 184, 0.25);
    @media screen and (max-width: 992px) {
      width: 168px;
      height: 168px;
      margin-right: 16px;
    }
    @media screen and (max-width: 576px) {
      width: 222px;
      height: 150px;
      margin-bottom: 12px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 160px;
    width: calc(100% - 228px);
    @media screen and (max-width: 1200px) {
      width: calc(100% - 228px);
    }

    @media screen and (max-width: 992px) {
      width: calc(100% - 184px);
      height: 168px;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      text-align: center;
      height: auto;
    }

    .new-item__list-tag {
      @media screen and (max-width: 992px) {
        display: none !important;
      }
    }
  }

  &__title {
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    max-width: calc(100% - 80px);
    position: relative;
    margin-bottom: 4px;
    color: $black-color;
    transition: all 0.25s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 48px;
    @media screen and (max-width: 992px) {
      font-size: 16px;
      line-height: 20px;
      max-width: calc(100% - 65px);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 60px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
      max-width: 100%;
      margin-bottom: 10px;
    }

    &:after {
      content: '';
      height: 0;
      width: 100%;
      position: absolute;
      bottom: -4px;
      left: 0;
      opacity: 0.4;
      border-bottom: 2px solid $noactive-gray-color;
    }
  }

  &__text {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $dark-gray-color;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 80px;
    @media screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 18px;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 90px;
    }
  }

  &__date {
    width: 122px;
    color: $white-color;
    background: $blue-color;
    border-radius: 2px 20px 20px 2px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 4.5px 5px 4.5px 10px;
    margin-bottom: 6px;
    align-items: center;
    position: absolute;
    top: 24px;
    right: -18px;
    display: flex;
    box-sizing: border-box;
    @media screen and (max-width: 992px) {
      font-size: 12px;
      padding: 2px 2px 2px 2px;
      margin-bottom: 4px;
      width: 84px;
    }

    @media screen and (max-width: 576px) {
      right: -15px;
    }

    span {
      display: block;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../img/calendar-white.svg");
      margin-right: 6px;
      @media screen and (max-width: 992px) {
        margin-right: 2px;
        width: 12px;
        height: 12px;
      }
    }
  }

  &__list-tag {
    align-items: center;
    margin-top: auto;
    flex-wrap: wrap;
    max-width: 100%;
    height: 20px;
    overflow: hidden;
    @media screen and (max-width: 992px) {
      margin-top: 16px;
    }
    @media screen and (max-width: 576px) {
      justify-content: center;
      max-height: 46px;
      height: auto;
    }

    &--item {
      font-family: "PT Sans", sans-serif;
      font-size: 10px;
      line-height: 12px;
      color: $dark-gray-color;
      background: $light-blue-color;
      border-radius: 2px;
      margin-right: 6px;
      text-transform: uppercase;
      padding: 4px 10px;
      flex-shrink: 0;
      @media screen and (max-width: 576px) {
        margin: 0 3px 6px 3px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.filter {
  margin-bottom: 30px;
  background: $white-color;
  box-shadow: 0px 0px 10px #DCEBFA;
  border-radius: 2px;
  padding: 24px 24px 30px 24px;
  align-items: flex-end;
  @media screen and (max-width: 992px) {
    margin-bottom: 12px;
    justify-content: space-between;

    .filter__reset {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 16px;
    .filter__reset {
      display: block;
      order: 3;
      margin-top: 16px;
      width: 170px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      font-size: 14px;
      padding-left: 17px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: $blue-color;
    @media screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 8px;
    }
  }

  &__dates {
    margin-right: 36px;
    flex-shrink: 0;

    @media screen and (max-width: 1200px) {
      margin-right: 18px;
    }
    @media screen and (max-width: 768px) {
      order: 2;
      margin-bottom: 26px;
      margin-right: 0;
      width: 100%;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: calc(100% + 30px);
        position: absolute;
        left: -15px;
        bottom: -26px;
        height: 0;
        opacity: 0.4;
        border-bottom: 2px solid $noactive-gray-color;
      }
    }

    .filter__title {
      padding-left: 19px;
      @media screen and (max-width: 992px) {
        padding-left: 0;
      }
    }

    &--wrap {
      align-items: center;

      .text {
        font-family: "Circe", sans-serif;
        margin-right: 8px;
        font-size: 22px;
        line-height: 22px;
        color: $dark-gray-color;
        @media screen and (max-width: 768px) {
          font-size: 14px;
          line-height: 20px;
          width: 16px;
          margin-right: 6px;
        }
      }
    }

    &--group {
      position: relative;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      input {
        width: 154px;
        height: 48px;
        background: $light-blue-color2;
        border: 1px solid $light-blue-color;
        box-sizing: border-box;
        border-radius: 2px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        line-height: 24px;
        color: $black-color;
        font-family: "Circe", sans-serif;
        @media screen and (max-width: 1200px) {
          width: 140px;
        }
        @media screen and (max-width: 992px) {
          width: 120px;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
          padding-left: 12px;
        }

        &::placeholder {
          font-size: 16px;
          line-height: 24px;
          color: #A2B1BE;
          font-family: "Circe", sans-serif;
        }

        &:focus, &:active {
          outline: none;
          box-shadow: none;
          background-color: $white-color;
        }
      }

      label {
        display: block;
        width: 18px;
        height: 18px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/calendar-gray.svg");
        position: absolute;
        top: 0;
        bottom: 0;
        right: 19px;
        margin: auto;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          right: 12px;
        }
      }
    }
  }

  &__search {
    margin-right: 36px;
    flex-shrink: 0;
    @media screen and (max-width: 1200px) {
      margin-right: 18px;
    }
    @media screen and (max-width: 768px) {
      order: 1;
      width: 100%;
      margin-bottom: 16px;
      margin-right: 0;
    }

    &--group {
      @media screen and (max-width: 768px) {
        width: 100%;
      }

      input {
        background: $light-blue-color2;
        border: 1px solid $light-blue-color;
        box-sizing: border-box;
        border-radius: 2px 0px 0px 2px;
        width: 321px;
        height: 48px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        line-height: 24px;
        color: $black-color;
        font-family: "Circe", sans-serif;
        @media screen and (max-width: 1200px) {
          width: 260px;
        }
        @media screen and (max-width: 992px) {
          width: 252px
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }

        &::placeholder {
          font-size: 16px;
          line-height: 24px;
          color: #A2B1BE;
          font-family: "Circe", sans-serif;
        }

        &:focus, &:active {
          outline: none;
          box-shadow: none;
        }
      }
    }

    &--btn {
      display: inline-block;
      background: #005EB8;
      border-radius: 0px 2px 2px 0px;
      width: 58px;
      height: 48px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
      background-image: url("../img/search-white.svg");
    }
  }

  &__reset {
    border: 1px solid $blue-color;
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 48px;
    font-family: "Circe", sans-serif;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    text-align: left;
    padding: 12px 20px;
    position: relative;
    background-color: $white-color;

    &:hover {
      &:after {
        background-image: url("../img/close-white.svg");
      }
    }

    &:after {
      content: '';
      display: block;
      height: 24px;
      width: 24px;
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/close.svg");
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 10px;
    }
  }
}


.bg-linear {
  position: relative;
  z-index: 2;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    background: linear-gradient(360deg, #F0F8FF 15.48%, #DCEBFA 86.05%), #DCEBFA;
    filter: blur(20px);
    border-radius: 2px;
    z-index: -1;
  }
}









