.lk {
  &__block {
    margin-bottom: 30px;
    border-radius: 2px;
    overflow: hidden;
    align-items: stretch;

    @media screen and (max-width: 576px) {
      margin-bottom: 24px;
    }

    &--header {
      position: relative;
      padding: 16px 24px;
      background: $blue-color;
      color: $white-color;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      &:after {
        content: '';
        display: block;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        border: 35px solid $blue-color2;
        position: absolute;
        bottom: -25px;
        right: 17%;
        opacity: 0.4;
      }

      @media screen and (max-width: 576px) {
        .p1 {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    &--body {
      background: $light-blue-color2;
      padding: 32px 32px 10px 32px;

      &.change {
        .lk__data--text {
          display: none;
        }
        .lk__data--text.lk__not-change {
          display: block;
        }

        .lk__change {
          display: block;
        }
      }
    }

    &--change {
      height: 32px;
      width: 32px;
      flex-shrink: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/edit.svg");
      cursor: pointer;
    }
  }

  &__data {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;

      .lk__data--text {
        padding-bottom: 0;
      }
    }

    &--label {
      @extend %p2;
      color: $dark-gray-color;
      margin-bottom: 4px;
      font-weight: bold;
      @media screen and (max-width: 576px) {
        font-size: 14px;
        line-height: 22px;
      }

      &.red {
        color: $red-color;
      }
    }

    &--text {
      height: auto;
      min-height: 68px;
      padding: 10px 0;
      font-family: "Circe", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: $black-color;
      @media screen and (max-width: 576px) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .form-group {
      width: 100%;
      border: none;
      margin-bottom: 18px;
      position: relative;
    }

    .form-control {
      width: 100%;
      height: 50px;
      background-color: $white-color;

      &[disabled="disabled"], &[readonly] {
        border: none;
        background: $light-blue-color2;
      }
    }

    .show-password {
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 18px;
      bottom: 0;
      right: 10px;
      margin: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../img/eye-off.svg");
      cursor: pointer;
    }
  }

  &__avatar {
    height: 103px;
    width: 103px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 0;
    margin-left: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  &__wrap {
    align-items: flex-start;
    @media screen and (max-width: 576px) {
      width: calc(100% + 30px);
      margin-left: -15px;
    }
  }

  &__content {
    width: 100%;
    overflow: hidden;
  }

  &__menu {
    border: 1px solid $light-blue-color;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 20px 0;
    width: 225px;
    margin-right: 25px;
    flex-shrink: 0;

    @media screen and (max-width: 1200px) {
      width: 184px;
    }

    &--link {
      display: flex;
      text-decoration: none;
      font-family: "PT Sans", sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: $black-color;
      min-height: 58px;
      height: auto;
      align-items: center;
      padding: 8px 28px 8px 28px;
      border-left: 4px solid transparent;
      box-sizing: border-box;
      transition: all 0.25s;
      flex-wrap: wrap;
      position: relative;

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 7px;
        flex-shrink: 0;
        display: block;

        img {
          width: 100%;
        }
      }

      a {
        display: block;
        text-decoration: none;
        width: 100%;
        flex-shrink: 0;
        padding-left: 27px;
        font-size: 14px;
        color: $black-color;
        margin-top: 5px;
        transition: all 0.25s;
        @media screen and (max-width: 992px) {
          padding-left: 0;
        }
      }

      &:hover {
        text-decoration: none;
        color: $red-color;
        border-color: $blue-color;
        background-color: $light-blue-color2;
        a {
          color: $red-color;
        }
      }

      &.active {
        color: $red-color;
        border-color: $blue-color;
        background-color: $light-blue-color2;
      }
    }
  }

  &__top {
    padding-bottom: 18px;

    .lk__avatar {
      margin: auto;
      margin-bottom: 18px;
    }

    .btn {
      display: block;
      width: 245px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 18px;
    }
  }

  &__change {
    display: none;
    padding: 10px 0;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.show-password {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  &[data-show="hide"] {
    background-image: url("../img/eye-off.svg");
  }

  &[data-show="show"] {
    background-image: url("../img/eye.svg");
  }
}
.custom-select {
  height: 50px;
}

.datepicker {
  &--nav {
    background-color: $blue-color2;
    &-title, &-title i {
      color: $white-color;
      &:hover {
        background-color: $blue-color;
      }
    }
    &-action path {
      stroke: $white-color;
    }

    &-action {
      &:hover {
        background-color: $blue-color;
      }
    }
  }
  &--days-names {
    border-bottom: 1.5px solid #D2DCE6;
    padding-bottom: 4px;

    .datepicker--day-name {
      font-family: "PT Sans", sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: $red-color;
    }
  }
}
