.main-banner {
  height: 440px;
  @media screen and (max-width: 576px) {
    height: 320px;
  }

  .main-banner-swiper {
    height: 440px;
    @media screen and (max-width: 576px) {
      height: 320px;
    }
  }

  &__slide1 {
    background-image: url("../img/slide1.png"), linear-gradient(74.81deg, #F0F8FF 0.41%, #FFFFFF 95.42%);
    box-shadow: inset 0px 2px 8px rgba(0, 94, 184, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 768px) {
      background-image: url("../img/slide1-lap.png"), linear-gradient(74.81deg, #F0F8FF 0.41%, #FFFFFF 95.42%);
      background-position: center right;
      background-size: cover;
    }

    @media screen and (max-width: 576px) {
      background-image: url("../img/slide1-min.png"), linear-gradient(74.81deg, #F0F8FF 0.41%, #FFFFFF 95.42%);
      background-size: contain;
      background-position: center right;
      box-shadow: none;
    }

    &--title {
      color: $blue-color;
      margin-top: 72px;
      margin-bottom: 22px;
      @media screen and (max-width: 992px) {
        font-size: 48px;
        line-height: 44px;
      }

      @media screen and (max-width: 576px) {
        margin-top: 45px;
        margin-bottom: 16px;
        font-size: 28px;
        line-height: 30px;
        font-weight: bold;
        font-family: "Circe", sans-serif;
      }

      span {
        color: $red-color;
      }
    }

    .p1 {
      color: $blue-color;
      @media screen and (max-width: 992px) {
        font-size: 16px;
        line-height: 20px;
      }

      @media screen and (max-width: 576px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .custom-slide {
    position: relative;
    overflow: hidden;
    display: block;
    background: linear-gradient(74.81deg, #F0F8FF 0.41%, #FFFFFF 95.42%);

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;

      @media screen and (max-width: 576px) {
        right: 0;
      }
    }

    .desktop-image {
      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    .lap-image {
      display: none;
      @media screen and (max-width: 992px) {
        display: block;
      }
      @media screen and (max-width: 576px) {
        display: none;
      }
    }

    .min-image {
      display: none;

      @media screen and (max-width: 576px) {
        display: block;
      }
    }
  }

  &-prev, &-next {
    display: block;
    height: 56px;
    width: 56px;
    bottom: 40px;
    top: auto;
    background: $white-color;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    opacity: 0.45;
    transition: all 0.25s;

    @media screen and (max-width: 576px) {
      bottom: 26px;
    }

    &:hover {
      opacity: 1;
    }

    &:after {
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      color: $black-color;
      height: 18px;
      width: 10px;
      line-height: 1;
    }
  }

  &-prev {
    left: auto;
    right: calc((100% - 1140px) / 2 + 64px);
    @media screen and (max-width: 1200px) {
      right: calc((100% - 920px) / 2 + 64px);
    }
    @media screen and (max-width: 992px) {
      right: calc((100% - 690px) / 2 + 64px);
    }
    @media screen and (max-width: 768px) {
      right: calc((100% - 510px) / 2 + 64px);
    }
    @media screen and (max-width: 576px) {
      right: 79px;
    }
  }

  &-next {
    right: calc((100% - 1140px) / 2);
    @media screen and (max-width: 1200px) {
      right: calc((100% - 920px) / 2);
    }

    @media screen and (max-width: 992px) {
      right: calc((100% - 690px) / 2);
    }

    @media screen and (max-width: 768px) {
      right: calc((100% - 510px) / 2);
    }
    @media screen and (max-width: 576px) {
      right: 15px;
    }
  }

  .swiper-pagination-bullets {
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 576px) {
      bottom: 32px;
      justify-content: flex-start;
      padding-left: 15px;
    }
  }

  .swiper-pagination-bullet {
    border-radius: 2px;
    height: 24px;
    width: 24px;
    background-color: $white-color;
    cursor: pointer;
    @media screen and (max-width: 576px) {
      height: 16px;
      width: 16px;
    }
  }
}

.main-offers {
  padding: 64px 0;
  @media screen and (max-width: 992px) {
    padding: 57px 0 64px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 36px 0 16px 0;
  }

  &__item {
    display: block;
    cursor: pointer;
    padding: 20px;
    height: 114px;
    background: #0090E1;
    border-radius: 2px;
    color: $white-color;
    overflow: hidden;
    position: relative;
    transition: all 0.25s;
    @media screen and (max-width: 768px) {
      margin-bottom: 24px;
      height: 80px;
      padding: 20px 0 0 57px;
    }

    &:after {
      content: '';
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 30px solid $blue-color;
      position: absolute;
      right: 27px;
      bottom: 48px;
      transition: all 0.25s;
      z-index: 1;
      @media screen and (max-width: 992px) {
        right: -75px;
      }
      @media screen and (max-width: 768px) {
        right: -32px;
        bottom: 14px;
        border: 35px solid $blue-color;
      }
    }

    &:hover {
      text-decoration: none;
      color: $white-color;
      background-color: $blue-color;

      &:after {
        border-color: #00A9E0;
        opacity: 0.4;
      }
    }
  }

  &__title {
    font-family: "Circe", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    position: relative;
    z-index: 2;
  }
}

.main-about {
  padding: 48px 0 75px 0;
  @media screen and (max-width: 992px) {
    padding: 48px 0 64px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 32px 0 34px 0;
  }

  .h2 {
    color: $blue-color;
    margin-bottom: 20px;
    @media screen and (max-width: 576px) {
      margin-bottom: 16px;
    }
  }

  &__text {
    p {
      margin-bottom: 12px;
      font-family: "Circe", sans-serif;
      font-size: 20px;
      line-height: 26px;
      @media screen and (max-width: 992px) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 24px;
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
      }
      @media screen and (max-width: 576px) {
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 18px;
      }

      li {
        position: relative;
        padding-left: 40px;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        @media screen and (max-width: 992px) {
          padding-left: 33px;
          margin-bottom: 16px;
        }
        @media screen and (max-width: 576px) {
          font-size: 14px;
          line-height: 18px;
        }

        &:before {
          content: '';
          display: block;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          border: 4px solid $blue-color2;
          top: 3px;
          right: auto;
          left: 8px;
          position: absolute;
          @media screen and (max-width: 992px) {
            left: 0;
          }
        }
      }
    }
  }

  &__image {
    display: block;
    margin-left: auto;
    max-width: 387px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
      margin-left: 0;
      max-width: none;
      img {
        width: 100%;
      }
    }
  }
  &__lg {
    .main-about__link {
      @media screen and (max-width: 992px) {
        display: none;
      }
      @media screen and (max-width: 768px) {
        display: flex;
      }
    }

    .main-about__image {
      @media screen and (max-width: 992px) {
        display: none;
      }
      @media screen and (max-width: 768px) {
        display: flex;
      }
    }
  }

  &__md {
    .col-md-5 {
      @media screen and (max-width: 992px) {
        padding-left: 0;
      }
      @media screen and (max-width: 768px) {
        padding-left: 15px;
      }
    }
    .main-about__link {
      display: none;
      @media screen and (max-width: 992px) {
        display: flex;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .main-about__image {
      display: none;
      @media screen and (max-width: 992px) {
        display: block;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__link {
    color: $blue-color;
    margin-left: auto;
    margin-right: 22px;
    display: flex;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    align-items: center;
    justify-content: flex-end;
    @media screen and (max-width: 768px) {
      margin-right: 0;
    }

    span {
      display: block;
      border-right: 2px solid $blue-color;
      border-top: 2px solid $blue-color;
      height: 12px;
      width: 12px;
      margin-left: 5px;
      margin-right: 5px;
      transform: rotate(45deg);
      transition: all 0.25s;
      @media screen and (max-width: 576px) {
        margin-right: 15px;
      }
    }

    &:hover {
      cursor: pointer;
      color: $blue-color;
      text-decoration: none;

      span {
        margin-left: 10px;
        margin-right: 0px;
        @media screen and (max-width: 576px) {
          margin-right: 10px;
        }
      }
    }
  }
}

.main-events {
  padding: 48px 0 50px 0;
  @media screen and (max-width: 576px) {
    padding: 32px 0 48px 0;
  }

  .h2 {
    color: $blue-color;
    margin-bottom: 32px;
    @media screen and (max-width: 576px) {
      margin-bottom: 17px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 0 0 17px 5px;
    position: relative;
    text-decoration: none;
    @media screen and (max-width: 576px) {
      flex-direction: column;
      border-bottom: 1px solid $noactive-gray-color !important;
      padding: 6px 0 0 0;
      margin-bottom: 0;
    }

    &.border-bottom {
      border-bottom: none !important;
      @media screen and (max-width: 576px) {
        border-bottom: 1px solid $noactive-gray-color !important;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 90%;
        height: 0;
        border-bottom: 1px solid $noactive-gray-color;
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
    }

    &:hover {
      text-decoration: none;
      color: inherit;

      .main-events__title {
        color: $blue-color;
      }
    }
  }

  &__title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $black-color;
    margin-right: 41px;
    transition: all 0.25s;
    max-height: 54px;
    height: 54px;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 576px) {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 4px;
    }
  }

  &__date {
    width: 107px;
    height: 23px;
    flex-shrink: 0;
    text-align: center;
    line-height: 23px;
    background: $blue-color;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $light-blue-color;
    @media screen and (max-width: 576px) {
      background-color: transparent;
      padding: 0;
      width: auto;
      height: auto;
      font-size: 12px;
      line-height: 18px;
      margin-right: 0;
      margin-left: auto;
      color: $dark-gray-color;
    }
  }

  .btn {
    margin-left: auto;
    display: block;
    @media screen and (max-width: 576px) {
      width: 100%;
      margin-top: 29px;
    }
  }
}

.main-news {
  padding: 48px 0 80px 0;

  @media screen and (max-width: 576px) {
    padding: 32px 0;
  }

  .h2 {
    color: $blue-color;
    margin-bottom: 32px;
    @media screen and (max-width: 576px) {
      margin-bottom: 23px;
    }
  }

  &__item {
    display: block;
    text-decoration: none;
    margin-bottom: 30px;
    color: inherit;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.25s;

    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
    }

    &:hover {
      text-decoration: none;
      box-shadow: 0px 0px 10px 0px rgba(0, 94, 184, 0.25);

      .main-news__title {
        color: $blue-color;
      }

      .main-news__text {
        color: $black-color;
      }
    }
  }

  &__image {
    position: relative;
    padding-bottom: 66%;
    overflow: hidden;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    background-color: $white-color;
    height: 192px;
    padding: 14px 12px;
    @media screen and (max-width: 576px) {
      padding: 12px 12px 13px 12px;
      height: auto;
    }
  }

  &__title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $black-color;
    margin-bottom: 11px;
    transition: all 0.25s;
    max-height: 44px;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (max-width: 576px) {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 5px;
      max-height: 32px;
    }
  }

  &__text {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $dark-gray-color;
    max-height: 108px;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.25s;
    @media screen and (max-width: 576px) {
      font-size: 11px;
      line-height: 14px;
      -webkit-line-clamp: 6;
      max-height: 98px;
    }
  }

  .btn {
    margin-left: auto;
    display: block;
  }
}

.main-partner {
  padding: 48px 0 80px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../img/sup-bg.png"), linear-gradient(0deg, #F0F8FF 0.85%, rgba(255, 255, 255, 0) 82.81%), linear-gradient(165.49deg, #005EB8 12.37%, #00A9E0 66.99%);
  @media screen and (max-width: 768px) {
    padding: 32px 0 44px 0;
  }

  h2 {
    color: $white-color;
    margin-bottom: 32px;
    font-size: 48px !important;
    line-height: 50px !important;
  }

  .swiper-container {
    @media screen and (max-width: 768px) {
      max-height: 250px;
    }
  }

  .swiper-wrapper {
    @media screen and (max-width: 768px) {
      height: 260px;
    }
  }

  &__slider--wrap {
    max-width: calc(100% - 50px);
    margin: auto;
    background: rgba(0, 94, 184, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 14px 56px 12px 56px;

    @media screen and (max-width: 1200px) {
      max-width: calc(100% - 32px);
    }
    @media screen and (max-width: 768px) {
      max-width: calc(100% - 24px);
      padding: 36px 56px 12px 56px;
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    text-decoration: none;
    @media screen and (max-width: 1200px) {
      width: calc(100% / 2);
      max-width: 340px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: none;
      flex-direction: column;
      align-items: center;
      margin-bottom: 24px;
      height: 102px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__image {
    height: 120px;
    width: 120px;
    flex-shrink: 0;
    position: relative;
    background-color: $white-color;
    overflow: hidden;
    @media screen and (max-width: 992px) {
      height: 80px;
      width: 80px;
    }
    @media screen and (max-width: 768px) {
      height: 64px;
      width: 64px;
      margin-bottom: 6px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    padding: 0 10px;
    color: $white-color;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      max-width: 180px;
      height: 32px;
    }
  }

  .main-partner-prev, .main-partner-next {
    height: 100%;
    top: 22px;
    width: 73px;

    &:after {
      display: none;
    }

    span {
      display: block;
      width: 56px;
      height: 56px;
      background: $white-color;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
      border-radius: 2px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px;
      background-image: url("../img/arrow-slider.svg");
      opacity: 0.45;
      transition: all 0.25s;
    }

    &:hover {
      background: linear-gradient(90deg, rgba(0, 94, 184, 0) 6.21%, #005EB8 79.46%);

      span {
        opacity: 1;
      }
    }

    &:focus, &:active {
      outline: none;
      box-shadow: none;
    }
  }

  .main-partner-prev {
    border-radius: 20px 0 0 20px;
    left: 0;

    span {
      margin-left: -60px;
      transform: rotate(180deg);
    }

    &:hover {
      background: linear-gradient(270deg, rgba(0, 94, 184, 0) 6.21%, #005EB8 79.46%);
    }
  }

  .main-partner-next {
    border-radius: 0 20px 20px 0;
    right: 0;

    span {
      margin-right: -60px;
    }

    &:hover {
      background: linear-gradient(90deg, rgba(0, 94, 184, 0) 6.21%, #005EB8 79.46%);
    }
  }
}

.leave-request {
  padding: 48px 0 64px 0;

  @media screen and (max-width: 576px) {
    padding: 24px 0 32px 0;
  }

  &__wrap {
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .h4 {
      margin-bottom: 5px;
      @media screen and (max-width: 576px) {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 6px;
        font-weight: bold;
      }
    }

    p {
      color: $dark-gray-color;
      margin-bottom: 0;
      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 20px;
      }
    }

    .btn {
      flex-shrink: 0;
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  }
}
