.mcp {
  &__list {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
  }

  &__item {
    display: block;
    width: calc((100% / 3) - 58px);
    flex-shrink: 0;
    margin: 29px;
    background-color: $blue-color;
    border-radius: 2px;
    cursor: pointer;
    height: 268px;
    max-width: 268px;
    text-decoration: none;
    padding: 24px;
    justify-content: space-between;
    transition: all 0.25s;

    @media screen and (max-width: 992px) {
      width: calc((100% / 3) - 20px);
      margin: 15px 30px 15px 0;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media screen and (max-width: 768px) {
      width: calc((100% / 2) - 30px);
      margin: 15px;
      &:nth-child(3n) {
        margin-right: 15px;
      }
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      max-width: 320px;
      height: 260px;
      margin: 0 0 20px 0 !important;
    }

    &:hover {
      background: linear-gradient(130.21deg, #005EB8 12.37%, #00A9E0 66.99%), #00A9E0;
      box-shadow: 0px 4px 25px rgba(0, 94, 184, 0.25);
      text-decoration: none;

      .mcp__item--title {
        color: $white-color;
      }
      .mcp__item--iconblue {
        display: none;
      }

      .mcp__item--iconwhite {
        display: block;
      }
    }

    &--title {
      transition: all 0.25s;
      font-family: "Circe", sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: $light-blue-color;
    }

    &--icon {
      width: 120px;
      height: 120px;
      display: block;
      margin-right: 0;
      margin-left: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center bottom;
      }
    }

    &--iconblue {
      display: block;
    }

    &--iconwhite {
      display: none;
    }
  }

  &-banner {
    background-color: $white-color;
    padding: 15px 80px;
    align-items: center;
    margin-bottom: 80px;

    &.light-blue-bg {
      background-color: $light-blue-color2;
    }

    @media screen and (max-width: 992px) {
      padding: 15px calc((100vw - 100%) / 2);
      margin-bottom: 0;
      width: 100vw;
      margin-left: calc((100% - 100vw) / 2);
    }
    @media screen and (max-width: 768px) {
      padding: 30px calc((100vw - 100%) / 2);
    }

    &__content {
      @media screen and (max-width: 768px) {
        text-align: center;
      }

      h4 {
        color: $blue-color;
        margin-bottom: 2px;
        @media screen and (max-width: 768px) {
          margin-bottom: 13px;
          font-size: 24px;
          line-height: 30px;
        }
      }

      .p2 {
        color: $dark-gray-color;
        margin-bottom: 16px;
        @media screen and (max-width: 768px) {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 25px;
        }
      }

      .btn {
        width: 220px;
        @media screen and (max-width: 768px) {
          width: 100%;
          max-width: 350px;
        }
      }
    }

    &-btn {
      margin-bottom: 0;
      padding: 40px 0;
    }

    &__btn {
      width: 168px;
      flex-shrink: 0;
    }

    &__image {
      width: 168px;
      height: 168px;
      flex-shrink: 0;
      margin-left: 70px;
      @media screen and (max-width: 992px) {
        margin-left: 10px;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }

      img {
        width: 100%;
      }
    }
  }

  &-infrastruct {
    margin-bottom: 16px;
    background-color: $light-blue-color;
    border-radius: 2px;
    padding: 32px;
    font-family: "Circe", sans-serif;
    background-repeat: no-repeat;
    @media screen and (max-width: 992px) {
      padding: 24px;
      margin-bottom: 13px;
    }
    @media screen and (max-width: 768px) {
      text-align: center;
      padding: 15px;
    }

    &.type2 {
      background-image: url("../img/circle.svg");
      background-size: 123px;
      background-position: calc(100% - 18px) center;
      @media screen and (max-width: 768px) {
        background-position: calc(100% - 24px) calc(100% + 60px);
      }
    }

    &.type3 {
      background-image: url("../img/circle.svg");
      background-size: 90px;
      background-position: calc(100% - 18px) center;
      @media screen and (max-width: 768px) {
        background-position: calc(100% - 32px) calc(100% + 40px);
      }
    }

    &.type1 {
      background-position: center right;
      background-size: contain;
      background-image: url("../img/mpc-bg2.png");
      @media screen and (max-width: 992px) {
        background-image: url("../img/circle.svg");
        background-size: 204px;
        background-position: 107% 50%;
      }
      @media screen and (max-width: 768px) {
        background-position: calc(100% + 15px) calc(100% + 100px)
      }
    }

    &:last-child {
      margin-bottom: 50px;
      @media screen and (max-width: 576px) {
        margin-bottom: 30px;
      }
    }

    &__title {
      font-weight: bold;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 15px;
      color: $blue-color;
      @media screen and (max-width: 992px) {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 21px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
      color: $black-color;
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
      }

      a {
        text-decoration: none;
        color: $blue-color;

        &:hover {
          text-decoration: underline;
          color: $blue-color;
        }
      }
    }
  }

  &-table {
    font-family: "PT Sans", sans-serif;
    border: 4px solid #00A9E0;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      border: none;
    }

    &__row {
      width: 100%;
      background-color: $white-color;
      border-bottom: 4px solid #00A9E0;
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
      }

      .col1,
      .col2,
      .col3 {
        box-sizing: border-box;
      }

      .col1,
      .col2 {
        border-right: 4px solid $light-blue-color;
      }

      .col2 {
        @media screen and (max-width: 768px) {
          border-right: none;
        }
      }

      &:first-child {
        border-bottom: 4px solid $light-blue-color;
        @media screen and (max-width: 768px) {
          border-bottom: 4px solid $blue-color;
        }
      }

      &:last-child {
        border-bottom: none;
        @media screen and (max-width: 768px) {
          border-bottom: 4px solid #00A9E0;
        }
      }


      &.mcp-table__header {
        font-family: "Circe", sans-serif;

        .col1,
        .col2,
        .col3 {
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
          color: $white-color;
          background-color: $blue-color;
          padding: 24px 0;
          text-align: center;
          @media screen and (max-width: 1200px) {
            font-size: 22px;
            line-height: 28px;
          }
          @media screen and (max-width: 992px) {
            font-size: 18px;
            line-height: 24px;
          }
          @media screen and (max-width: 768px) {
            font-size: 18px;
            line-height: 24px;
            padding: 12px 0;
          }
        }

        .col1,
        .col2 {
          border-right: 4px solid $blue-color2;
        }

        .col2 {
          @media screen and (max-width: 768px) {
            border-right: none;
          }
        }

        .col3 {
          padding: 0;

          .mcp-subtable__header {
            display: flex !important;
          }

          @media screen and (max-width: 768px) {
            display: none !important;
          }
        }
      }
    }

    .col1 {
      width: 7%;
      flex-shrink: 0;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      padding: 6px 0;

      @media screen and (max-width: 1200px) {
        font-size: 16px;
        line-height: 24px;
      }
      @media screen and (max-width: 768px) {
        width: 56px;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .col2 {
      width: 43%;
      flex-shrink: 0;
      font-size: 18px;
      line-height: 26px;
      padding: 6px 16px;
      @media screen and (max-width: 1200px) {
        font-size: 16px;
        line-height: 24px;
      }
      @media screen and (max-width: 992px) {
        padding: 6px 10px;
        width: 38%;
      }
      @media screen and (max-width: 768px) {
        width: calc(100% - 56px);
        font-size: 14px;
        line-height: 20px;
      }
    }

    .col3 {
      width: 50%;
      flex-shrink: 0;
      @media screen and (max-width: 992px) {
        width: 55%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &-subtable {
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $light-blue-color2;

    &__row {
      background-color: $light-blue-color2;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
      color: $blue-color;
      align-self: stretch;
      height: 100%;
      @media screen and (max-width: 1200px) {
        font-size: 16px;
        line-height: 24px;
      }
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 24px;
      }
      @media screen and (max-width: 768px) {
        background-color: $white-color;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
      }

      .col_1,
      .col_2,
      .col_3 {
        box-sizing: border-box;
        padding: 6px 0;
        border-bottom: 1px solid $white-color;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
          border-color: $light-blue-color;
        }
      }

      .col_1,
      .col_2 {
        border-right: 4px solid $light-blue-color;
      }

      &:last-child {
        .col_1,
        .col_2,
        .col_3 {
          border-bottom: none;
        }
      }
    }

    &__header {
      display: none !important;
      @media screen and (max-width: 768px) {
        display: flex !important;
      }

      .col_1,
      .col_2,
      .col_3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: $white-color;
        background-color: $blue-color;
        text-align: center;
        border-bottom: none;
        padding: 24px 0;
        @media screen and (max-width: 1200px) {
          font-size: 22px;
          line-height: 28px;
        }
        @media screen and (max-width: 992px) {
          font-size: 18px;
          line-height: 24px;
        }
        @media screen and (max-width: 768px) {
          font-size: 14px;
          line-height: 24px;
          padding: 6px 0;
          background-color: $light-blue-color;
          color: $blue-color;
        }
      }

      .col_1,
      .col_2 {
        border-right: 4px solid $blue-color2;

        @media screen and (max-width: 768px) {
          border-color: $light-blue-color;
        }
      }
    }


    .col_1 {
      width: 34%;
      flex-shrink: 0;
      @media screen and (max-width: 1200px) {
        width: 36%;
      }
      @media screen and (max-width: 992px) {
        width: 41%;
      }
    }

    .col_2 {
      width: 32%;
      flex-shrink: 0;
      @media screen and (max-width: 1200px) {
        width: 30%;
      }
      @media screen and (max-width: 992px) {
        width: 26%;
      }
    }

    .col_3 {
      width: 34%;
      flex-shrink: 0;
      @media screen and (max-width: 992px) {
        width: 33%;
      }
    }
  }
}

.mcp-program {
  margin-bottom: 30px;
  @media screen and (max-width: 576px) {
    margin-bottom: 16px;
  }

  &__title {
    padding: 24px;
    height: 133px;
    background-color: $white-color;
    @media screen and (max-width: 992px) {
      padding: 20px;
    }
    @media screen and (max-width: 768px) {
      padding: 16px;
      height: 100px;
    }
    @media screen and (max-width: 576px) {
      height: auto;
    }

    p {
      font-family: "Circe", sans-serif;
      font-weight: bold;
      font-size: 22px;
      line-height: 30px;
      color: $blue-color;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 90px;
      margin-bottom: 0;
      @media screen and (max-width: 992px) {
        font-size: 16px;
        line-height: 26px;
        max-height: 78px;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
        max-height: 60px;
      }
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    padding-bottom: 75%;

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__read {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $blue-color2;
    border-radius: 0px 26px 0px 2px;
    padding: 14px 24px;
    @media screen and (max-width: 992px) {
      padding: 6px 20px;
    }

    .icon {
      display: block;
      height: 30px;
      margin-right: 10px;
      @media screen and (max-width: 992px) {
        height: 24px;
      }
    }

    a {
      font-family: "Circe", sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      text-decoration-line: none;
      color: $white-color;

      @media screen and (max-width: 992px) {
        font-size: 14px;
      }
      @media screen and (max-width: 576px) {
        font-size: 14px;
        line-height: 20px;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &__raketa {
    background-color: $white-color;
    border-radius: 2px;
    height: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 576px) {
      display: none;
    }

    img {
      display: block;
      width: 318px;
      @media screen and (max-width: 992px) {
        width: 80%;
      }
    }
  }
}

.number-block {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  padding-left: 28px;
  @media screen and (max-width: 1064px) {
    padding-left: 0;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__count {
    width: 174px;
    height: 174px;
    background: rgba(0, 169, 224, 0.2);
    border-radius: 50%;
    flex-shrink: 0;
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 120px;
    line-height: 174px;
    letter-spacing: 0.01em;
    text-align: center;
    color: $light-blue-color2;
    box-sizing: border-box;
    margin-right: -5px;
    @media screen and (max-width: 992px) {
      width: 120px;
      height: 120px;
      line-height: 120px;
      font-size: 80px;
      margin-right: -27px;
    }
    @media screen and (max-width: 768px) {
      margin-right: auto;
      margin-left: auto;
      width: 100px;
      height: 100px;
      font-size: 48px;
      line-height: 48px;
      padding-top: 18px;
      margin-bottom: -34px;
    }
  }

  &__content {
    background: $white-color;
    box-shadow: 0px 4px 25px rgba(0, 94, 184, 0.25);
    border-radius: 2px;
    width: 100%;

    hr {
      margin: 0;
      border-bottom: 1px solid $noactive-gray-color;
      opacity: 0.4;
    }
  }

  &__title {
    font-family: "Circe", sans-serif;
    padding: 32px;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: $blue-color;
    @media screen and (max-width: 992px) {
      font-size: 18px;
      line-height: 26px;
      padding: 32px 32px 18px 32px;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 16px;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__info {
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    width: 381px;
    align-self: stretch;
    flex-shrink: 0;
    height: auto;
    min-height: 285px;
    @media screen and (max-width: 992px) {
      width: 300px;
      min-height: 411px;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 56%;
      width: 100%;
      min-height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__text {
    padding: 20px 24px 24px 24px;
    @media screen and (max-width: 992px) {
      padding: 20px 16px 20px 16px;
    }
    @media screen and (max-width: 768px) {
      padding: 12px 16px 16px 16px;
      text-align: center;
    }

    p {
      font-family: "Circe", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: $black-color;
      margin-bottom: 20px;
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.mcp-new {
  margin-bottom: 30px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 12px;
  }

  &__image {
    align-self: stretch;
    width: 415px;
    min-height: 310px;
    height: auto;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 992px) {
      width: 233px;
    }
    @media screen and (max-width: 768px) {
      min-height: auto;
      padding-bottom: 56%;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      object-position: center;
    }
  }

  &__content {
    width: 100%;
    background-color: $white-color;
    padding: 32px 44px;
    @media screen and (max-width: 992px) {
      padding: 24px 32px;
    }
    @media screen and (max-width: 768px) {
      padding: 12px;
      text-align: center;
    }
    @media screen and (max-width: 576px) {
      padding: 12px 6px;
    }

    p {
      font-family: "Circe", sans-serif;
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 20px;
      color: $blue-color;
      @media screen and (max-width: 992px) {
        font-size: 20px;
        line-height: 28px;
      }
      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
