.authorization-wrap,
.modal {
  border-radius: 0;

  &-dialog {
    @media screen and (max-width: 992px) {
      max-width: 708px;
      width: calc(100% - 30px);
      margin: 20px auto;
    }
  }

  &-content {
    border: none;
    @media screen and (max-width: 992px) {
      max-width: 708px;
      width: calc(100vw - 30px);
    }
  }

  &__container {
    width: 100%;
    max-width: 682px;
    margin: auto;
    @media screen and (max-width: 992px) {
      max-width: calc(100% - 60px);
    }
    @media screen and (max-width: 768px) {
      max-width: calc(100% - 30px);
    }
  }

  &__header {
    padding-top: 64px;
    background: $blue-color;
    @media screen and (max-width: 768px) {
      padding-top: 36px;
    }

    &--title {
      justify-content: space-between;
      align-items: flex-end;
      color: $white-color;
      margin-bottom: 42px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .h2 {
        margin-bottom: 0;
        line-height: 52px;
        @media screen and (max-width: 576px) {
          font-size: 34px;
          line-height: 44px;
          margin-bottom: 5px;
        }
      }

      &.title-sm-center {
        @media screen and (max-width: 576px) {
          text-align: center;

          span {
            display: block;
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 0.02em;
          }
        }
      }
    }

    &--acc {
      font-family: "PT Sans", sans-serif;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 10px;
      @media screen and (max-width: 768px) {
        margin-bottom: 0;
      }
      @media screen and (max-width: 576px) {
        font-size: 12px;
        line-height: 24px;
      }

      a {
        display: block;
        text-decoration: none;
        transition: all 0.25s;
        margin-left: 9px;
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        color: $white-color;
        @media screen and (max-width: 576px) {
          font-size: 12px;
          line-height: 24px;
        }

        &:hover {
          text-decoration: none;
          color: $red-color;
        }
      }
    }

    .nav-tabs {
      justify-content: space-between;
      border-bottom: none;

      a {
        display: block;
        width: calc(50% - 9px);
        height: 80px;
        padding: 20px;
        color: $white-color;
        text-decoration: none;
        border-radius: 2px 2px 0px 0px;
        position: relative;
        background: $gray-color;
        overflow: hidden;
        font-family: "Circe", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        transition: all 0.25s;
        @media screen and (max-width: 576px) {
          width: 50%;
          padding: 16px 0 0 16px;
          font-size: 16px;
          line-height: 30px;
        }

        &:after {
          content: '';
          display: block;
          border-radius: 50%;
          height: 150px;
          width: 150px;
          border: 30px solid $light-blue-color;
          position: absolute;
          bottom: 14px;
          right: 50px;
          opacity: 0.4;
          @media screen and (max-width: 576px) {
            height: 97px;
            width: 97px;
            border-width: 25px;
            right: 0;
            bottom: 32px;
          }
        }

        &.active {
          background: $blue-color2;
        }

        &:hover {
          text-decoration: none;
          background: $blue-color2;
        }
      }
    }
  }

  &__body {
    background: $light-blue-color2;
    padding: 48px 0 24px 0;
    @media screen and (max-width: 576px) {
      padding: 30px 0;
    }
  }

  &__form {
    &--row {
      justify-content: space-between;
      @media screen and (max-width: 576px) {
        flex-direction: column;
      }
    }

    &--col {
      width: calc(50% - 9px);
      box-sizing: border-box;
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  }

  .form-group {
    width: 100%;
    margin-bottom: 24px;
    position: relative;

    label {
      @extend %p2;
      display: block;
      margin-bottom: 4px;
      letter-spacing: 0.01em;
      color: $dark-gray-color;
      font-weight: bold;
    }

    .show-password {
      top: 24px;
    }
  }

  .form-control {
    width: 100%;
    background: $white-color;
    border: 1px solid $light-blue-color;
    box-sizing: border-box;
    border-radius: 2px;
    height: 54px;
    transition: all 0.25s;
    color: $black-color;
    font-family: "Circe", sans-serif;
    font-size: 22px;
    line-height: 30px;
    padding-left: 16px;
    padding-right: 16px;

    &:focus, &:active {
      outline: none;
      box-shadow: none;
      border: 1px solid #00A9E0;
    }

    /*&:not([value=""]):not(:focus):invalid {
      border: 1px solid #00A9E0;
    }*/

    &[type='text'],
    &[type='email'] {
      &:valid {
        border-color: $blue-color;
        color: $blue-color;
        padding-right: 40px;
        background-position: calc(100% - 16px) center;
        background-size: 28px;
        background-repeat: no-repeat;
        background-image: url("../img/checkmark-circle.svg");
      }

      &:invalid:not(:focus):not(:placeholder-shown) {
        border-color: $red-color;
        color: $red-color;
      }
    }


    &.input-phone, &.notrequired {
      &:valid {
        border-color: rgb(220, 235, 250) !important;
        color: $black-color !important;
        background-image: none !important;
      }
    }
  }

  &__footer {
    background: $light-blue-color2;
    border-top: 2px solid #BBCCDC;
    padding: 24px 0 140px 0;
    @media screen and (max-width: 576px) {
      .btn {
        width: 100%;
      }
    }

    &.footer-signin {
      @media screen and (max-width: 576px) {
        .modal__footer--text a {
          display: none;
        }

        .btn-blue {
          margin-top: 20px;
          background-color: $white-color;
          font-size: 20px;
        }
      }

      .btn-blue {
        display: none;
        @media screen and (max-width: 576px) {
          display: block;
        }
      }
    }

    .modal__container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: none;
      align-items: center;
      @media screen and (max-width: 768px) {
        max-width: calc(100% - 30px);
      }
    }
  }

  .form-check {
    margin-bottom: 16px;
    padding-left: 0;

    &-input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;

      &:checked + label:before {
        border-color: $blue-color2;
      }

      &:checked + label:after {
        display: block;
      }
    }

    &-label {
      font-family: "PT Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $dark-gray-color;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;

      &:before {
        content: "";
        display: block;
        width: 28px;
        height: 28px;
        flex-shrink: 0;
        margin-right: 9px;
        background: $white-color;
        border: 1px solid $noactive-gray-color;
        box-sizing: border-box;
        border-radius: 2px;
      }

      &:after {
        content: "";
        display: none;
        width: 20px;
        height: 20px;
        background: $blue-color2;
        box-sizing: border-box;
        border-radius: 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 4px;
      }

      a {
        display: contents;
        text-decoration: none;
        color: $blue-color;
        margin-left: 4px;
      }
    }
  }

  .modal__header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/bg-header-modal.png");
  }

  .modal__body {
    .link {
      display: block;
      text-align: center;
      margin-bottom: 8px;
      @extend %p2;
      color: $blue-color;
      text-decoration: none;

      &:hover {
        color: $blue-color;
      }
    }

    p {
      @extend %p2;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.01em;
      color: $dark-gray-color;
    }
  }

  .modal__footer {
    padding-bottom: 62px;

    &--text {
      text-align: center;
      margin-top: 24px;

      a {
        @extend %p2;
        color: $blue-color;
        text-decoration: none;

        &:hover {
          color: $blue-color;
        }
      }
    }
  }
}

.modal-medium {
  @media (min-width: 992px) {
    max-width: 790px;
  }

  .modal__container {
    max-width: 518px;
    @media screen and (max-width: 768px) {
      max-width: calc(100% - 30px);
    }
  }
}

.modal-success {
  .modal__header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/bg-header-modal.png");
  }

  .modal__container {
    text-align: center;

    p {
      @extend %p2;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.01em;
      color: $dark-gray-color;
      max-width: 420px;
      margin: auto;
    }
  }

  .modal__footer {
    padding-bottom: 62px;
  }
}


.modal__success {
  font-family: "Circe", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: $blue-color;
  position: relative;
  padding-left: 44px;
  display: table;
  margin: 0 auto 10px auto;

  &:before {
    content: '';
    display: block;
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/checkmark-circle.svg");
    position: absolute;
    top: 0;
    left: 0;
  }
}

.modal__error {
  font-family: "Circe", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: $red-color;
  position: relative;
  padding-left: 44px;
  display: table;
  margin: 0 auto 10px auto;

  &:before {
    content: '';
    display: block;
    height: 33px;
    width: 33px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/error.svg");
    position: absolute;
    top: 0;
    left: 0;
  }
}

.modal__error-text {
  font-family: "Circe", sans-serif;
  letter-spacing: 0.01em;
  font-size: 16px;
  line-height: 22px;
  color: $red-color;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;

  &:before {
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/error.svg");
    position: absolute;
    top: -2px;
    left: 0;
  }
}










