.breadcrumb {
  padding: 11px 0;
  background-color: $light-blue-color2;
  margin-bottom: 0;
  //box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  z-index: -1;
  position: relative;
  @media screen and (max-width: 768px) {
    box-shadow: none;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__item {
    margin-right: 32px;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $blue-color;
    @media screen and (max-width: 768px) {
      display: none;
      margin-right: 0;

      &:nth-last-child(-n+2) {
        display: block;
      }

      &:last-child {
        display: none;
      }
    }


    a {
      font-family: "PT Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
      color: $dark-gray-color;
      transition: all 0.25s;
      position: relative;
      @media screen and (max-width: 768px) {
        padding-left: 20px;
      }

      &:after {
        content: '';
        display: block;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        color: $dark-gray-color;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -28px;
        margin: auto;
        width: 24px;
        height: 22px;
        background-size: 7px;
        background-repeat: no-repeat;
        background-position: 50% 45%;
        background-image: url("../img/breadcrumbs-arrow.svg");
        transform: rotate(180deg);
        @media screen and (max-width: 768px) {
          content: '';
          left: 0;
          right: auto;
          transform: rotate(0deg);
          background-position: 0% 45%;
        }
      }


      &:hover {
        text-decoration: none;
        color: $blue-color;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.aside {
}

.aside-dashboard {
  border: 24px solid $light-blue-color;
  border-radius: 2px 2px 0px 0px;
  box-sizing: border-box;
  @media screen and (max-width: 576px) {
    border-width: 16px;
  }

  img {
    width: 100%;
  }
}

.aside-publish {
  margin-bottom: 19px;
  background-color: $light-blue-color2;
  padding: 24px;
  font-family: "Circe", sans-serif;
  font-style: normal;
  border-radius: 0 0 2px 2px;
  @media screen and (max-width: 768px) {
    margin-bottom: 16px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: $black-color;
    margin-bottom: 4px;
    @media screen and (max-width: 992px) {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__date {
    position: relative;
    display: block;
    padding-left: 30px;
    font-size: 24px;
    line-height: 30px;
    height: 30px;
    color: $blue-color;
    @media screen and (max-width: 992px) {
      font-size: 18px;
      line-height: 18px;
      padding-left: 22px;
      height: 18px;
    }

    &:before {
      content: '';
      display: block;
      height: 24px;
      width: 24px;
      position: absolute;
      top: 0;
      bottom: 3px;
      left: 0;
      margin: auto;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../img/calendar.svg");

      @media screen and (max-width: 992px) {
        height: 18px;
        width: 18px;
      }
    }
  }
}

.aside-info {
  background-color: $light-blue-color2;
  border-radius: 2px;
  padding: 24px;
  margin-bottom: 16px;

  &__phone {
    .h5 {
      font-size: 24px;
      color: $blue-color;
      position: relative;
      margin-bottom: 10px;
      padding-left: 30px;
      @media screen and (max-width: 992px) {
        padding-left: 22px;
        font-size: 18px;
        line-height: 24px;
        width: calc(100% + 10px);
        letter-spacing: -0.4px;
      }

      &:before {
        content: '';
        display: block;
        height: 24px;
        width: 24px;
        position: absolute;
        top: 0;
        bottom: 3px;
        left: 0;
        margin: auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../img/phone.svg");
        @media screen and (max-width: 992px) {
          height: 18px;
          width: 18px;
        }
      }
    }

    a {
      @extend %p2;
      color: $black-color;
      display: block;
      text-decoration: none;
      @media screen and (max-width: 992px) {
        font-size: 16px;
        line-height: 20px;
      }

      &:hover {
        text-decoration: none;
        color: $blue-color;
        cursor: pointer;
      }
    }
  }

  &__tags {
    margin-top: 18px;
    padding-top: 12px;
    position: relative;

    &:before {
      content: '';
      display: block;
      height: 0;
      width: calc(100% + 48px);
      position: absolute;
      top: 0;
      left: -24px;
      border-top: 1px solid $noactive-gray-color;
    }

    &--item {
      @extend %p2;
      color: $blue-color;
      display: block;
      text-decoration: none;
      transition: all 0.25s;
      @media screen and (max-width: 992px) {
        font-size: 12px;
        line-height: 18px;
      }

      &:hover {
        color: $red-color;
        text-decoration: none;
      }
    }
  }
}

.event-date {
  margin-bottom: 24px;
  background-color: $light-blue-color2;
  padding: 24px;
  font-family: "Circe", sans-serif;
  font-style: normal;
  border-radius: 0 0 2px 2px;

  .col {
    padding: 0;
    flex-basis: auto;

    &:nth-child(1) {
      width: calc(50% + 25px);
      flex-shrink: 0;
    }

    &:nth-child(2) {
      width: calc(50% - 25px);
    }
  }

  .title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: $black-color;
    margin-bottom: 4px;
    @media screen and (max-width: 992px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }

  .date, .time {
    position: relative;
    display: block;
    padding-left: 30px;
    font-size: 24px;
    line-height: 30px;
    height: 30px;
    color: $blue-color;
    @media screen and (max-width: 992px) {
      font-size: 18px;
      line-height: 18px;
      padding-left: 22px;
      height: 18px;
    }

    &:before {
      content: '';
      display: block;
      height: 24px;
      width: 24px;
      position: absolute;
      top: 0;
      bottom: 3px;
      left: 0;
      margin: auto;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      @media screen and (max-width: 992px) {
        height: 18px;
        width: 18px;
      }
    }
  }

  .date:before {
    background-image: url("../img/calendar.svg");
  }

  .time:before {
    background-image: url("../img/clock.svg");
  }
}

.aside-event-info {
  background-color: $light-blue-color2;
  border-radius: 2px;
  padding: 24px;

  &__speaker {
    margin-bottom: 20px;

    .h5 {
      font-size: 24px;
      color: $blue-color;
      position: relative;
      margin-bottom: 10px;
      padding-left: 30px;
      @media screen and (max-width: 992px) {
        font-size: 18px;
        line-height: 28px;
        padding-left: 22px;
      }

      &:before {
        content: '';
        display: block;
        height: 24px;
        width: 24px;
        position: absolute;
        top: 0;
        bottom: 3px;
        left: 0;
        margin: auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../img/mic.svg");
        @media screen and (max-width: 992px) {
          height: 18px;
          width: 18px;
        }
      }
    }

    .text {
      @extend %p2;
      line-height: 20px;
      color: $black-color;
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .aside-info__phone {
    margin-bottom: 24px;
  }

  .btn {
    @media screen and (max-width: 992px) {
      font-size: 22px;
    }
  }
}

.code {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  align-items: center;
  flex-wrap: wrap;

  &__wrap {
    p {
      display: flex;
      flex-shrink: 0;
      color: $white-color;
      font-weight: bold;
      letter-spacing: 0.05em;
      font-size: 20px;
      line-height: 24px;
      @media screen and (max-width: 992px) {
        font-size: 16px;
        line-height: 24px;
      }
      @media screen and (max-width: 576px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  li {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #DCEBFA;
    padding-left: 24px;
    position: relative;
    margin-bottom: 6px;
    @media screen and (max-width: 992px) {
      font-size: 16px;
      line-height: 24px;
      padding-left: 22px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
      line-height: 20px;
      padding-left: 16px;
    }

    &:after {
      content: '';
      display: block;
      height: 100%;
      width: 0;
      border-right: 4px solid #00A9E0;
      position: absolute;
      top: 0;
      left: 12px;
      @media screen and (max-width: 992px) {
        left: 10px;
      }
      @media screen and (max-width: 576px) {
        left: 8px;
      }
    }
  }
}

.page {
  padding-bottom: 60px;

  &__title {
    color: $white-color;
    position: relative;
    height: auto;
    padding-top: 32px;
    padding-bottom: 116px;
    margin-bottom: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/title-bg.png"), linear-gradient(229.03deg, #005EB8 21.01%, #066DCF 77.35%);

    @media screen and (max-width: 992px) {
      background-position: 55% 50%;
      background-image: url("../img/title-bg.png"), linear-gradient(250.85deg, #005EB8 21.01%, #066DCF 77.35%);
    }
    @media screen and (max-width: 576px) {
      background-position: 100% 50%;
      background-image: url("../img/title-bg-mob.png"), linear-gradient(261.77deg, #005EB8 21.01%, #066DCF 77.35%);
      padding-top: 61px;
      padding-bottom: 62px;
    }

    &:after {
      content: '';
      display: block;
      height: 235px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      bottom: -134px;
      left: 0;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 23.69%, #FFFFFF 97.72%), url(../img/title-after.png);
      mix-blend-mode: normal;
      @media screen and (max-width: 992px) {
        height: 109px;
        bottom: -60px;
      }
      @media screen and (max-width: 576px) {
        height: 109px;
        bottom: -60px;
      }
    }

    .h1 {
      color: $white-color;
      margin-bottom: 2px;
      @media screen and (max-width: 576px) {
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
      }
    }

    .h4 {
      margin-bottom: 0;
      color: $white-color;
    }

    .p1 {
      color: $white-color;
    }

    p {
      font-family: "Circe", sans-serif;
      font-size: 18px;
      line-height: 24px;
    }

    .h2 {
      font-family: "Circe", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      color: $white-color;
      letter-spacing: 0.01em;
      @media screen and (max-width: 992px) {
        font-size: 36px;
        line-height: 52px;
      }
      @media screen and (max-width: 576px) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    h2 {
      font-weight: 800;
      color: $white-color;
      display: inline-block;
      align-items: flex-start;
      @media screen and (max-width: 992px) {
        font-size: 36px;
        line-height: 52px;
      }
      @media screen and (max-width: 576px) {
        font-size: 24px;
        line-height: 28px;
      }

      .icon {
        display: inline-block;
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        margin-left: 20px;
        margin-top: -5px;
        position: relative;
        @media screen and (max-width: 576px) {
          width: 32px;
          height: 32px;
          margin-left: 10px;
          margin-top: 0px;
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: contain;
        }
      }
    }

    &.title-blue {
      &:after {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 42.33%, #F0F8FF 74.21%), url(../img/title-after.png);
        mix-blend-mode: normal;
      }
    }
  }

  &__title-lk {
    background-image: url("../img/title-lk2.png"), linear-gradient(0deg, #ffffff 10.01%, #066DCF 47.35%);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 418px;
    margin-bottom: -134px;

    @media screen and (max-width: 576px) {
      height: auto;
      background-image: url("../img/title-lk.png");
      background-color: $blue-color;
      margin-bottom: 48px;
    }

    &:after {
      display: none;
      @media screen and (max-width: 576px) {
        display: block;
      }
    }
  }

  &__title2 {
    background-image: url("../img/title2.png"), linear-gradient(227.84deg, #005EB8 21.01%, #066DCF 77.35%);
    @media screen and (max-width: 992px) {
      background-position: 55% 50%;
      background-image: url("../img/title2.png"), linear-gradient(227.84deg, #005EB8 21.01%, #066DCF 77.35%);
    }
    @media screen and (max-width: 576px) {
      background-position: 60% 50%;
      background-image: url("../img/title2.png"), linear-gradient(227.84deg, #005EB8 21.01%, #066DCF 77.35%);
    }
  }
}

.new {
  &__content {
    position: relative;
    z-index: 3;
    margin-bottom: 48px;
    border-radius: 2px;
    background-color: $light-blue-color2;
    padding: 24px 24px 20px 24px;

    .h5 {
      color: $black-color;
      margin-bottom: 24px;
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }

    h6 {
      position: relative;
      padding-left: 31px;
      font-family: "Circe", sans-serif;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px;
      color: $black-color;
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 6px;
        padding-left: 0;
      }

      &:before {
        content: '';
        display: block;
        height: 24px;
        width: 24px;
        position: absolute;
        left: 0;
        top: 1px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/checkmark-circle.svg");
        @media screen and (max-width: 992px) {
          display: none;
        }
      }
    }

    p {
      font-family: "Circe", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 24px;
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__info {
    margin-top: 4px;
    position: relative;
    padding-top: 32px;

    &:before {
      content: '';
      display: block;
      height: 0;
      width: calc(100% + 48px);
      border-top: 2px solid $noactive-gray-color;
      position: absolute;
      top: 0;
      left: -24px;
    }
  }
}

.event {
  &__content {
    position: relative;
    z-index: 3;
    margin-bottom: 30px;
    border-radius: 2px;
    background-color: $light-blue-color2;
    padding: 24px 24px 1px 24px;

    h5, .h5 {
      color: $black-color;
      margin-bottom: 24px;
      letter-spacing: 0.3px;
      font-size: 22px;
      line-height: 28px;

      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
      }

      span {
        color: $blue-color;
      }
    }

    ul {
      list-style: none;
      padding-left: 30px;
      margin-bottom: 24px;
      @media screen and (max-width: 992px) {
        padding-left: 0;
      }

      li {
        display: block;
        position: relative;
        padding-left: 28px;
        margin-bottom: 0;
        font-family: "Circe", sans-serif;
        font-size: 20px;
        line-height: 28px;
        @media screen and (max-width: 992px) {
          padding-left: 22px;
          font-size: 14px;
          line-height: 20px;
        }

        /*@media screen and (max-width: 576px) {
          font-size: 12px;
          line-height: 18px;
        }*/

        &:before {
          content: '';
          display: block;
          height: 18px;
          width: 18px;
          position: absolute;
          left: 0;
          top: 5px;
          border-radius: 50%;
          border: 4px solid $blue-color2;
          box-sizing: border-box;
          @media screen and (max-width: 992px) {
            height: 14px;
            width: 14px;
          }
          @media screen and (max-width: 576px) {
            height: 12px;
            width: 12px;
            border-width: 3px;
          }
        }
      }
    }

    h6 {
      position: relative;
      padding-left: 31px;
      font-family: "Circe", sans-serif;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px;
      color: $black-color;
      @media screen and (max-width: 992px) {
        margin-bottom: 6px;
        padding-left: 0;
        font-size: 14px;
        line-height: 20px;
      }

      /*@media screen and (max-width: 576px) {
        font-size: 12px;
        line-height: 18px;
      }*/

      &:before {
        content: '';
        display: block;
        height: 24px;
        width: 24px;
        position: absolute;
        left: 0;
        top: 1px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/checkmark-circle.svg");
        @media screen and (max-width: 992px) {
          display: none;
        }
      }
    }

    p {
      font-family: "Circe", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
      }

      /*@media screen and (max-width: 576px) {
        font-size: 12px;
        line-height: 18px;
      }*/
    }
  }

  &__tags {
    padding: 24px;
    position: relative;
    border-radius: 2px;
    background-color: $light-blue-color2;
    margin-bottom: 48px;
    overflow: hidden;

    &--item {
      @extend %p2;
      color: $blue-color;
      display: block;
      text-decoration: none;
      transition: all 0.25s;
      margin-bottom: 6px;
      @media screen and (max-width: 992px) {
        font-size: 12px;
        line-height: 18px;
      }

      &:hover {
        color: $red-color;
        text-decoration: none;
      }
    }

    &--img {
      position: absolute;
      width: 382px;
      height: 382px;
      border-radius: 50%;
      box-sizing: border-box;
      right: -45px;
      top: -80px;
      border: 90px solid rgba(0, 169, 224, 0.15);
      @media screen and (max-width: 992px) {
        width: 260px;
        height: 260px;
        border-width: 50px;
        top: -30px;
        right: -60px;
      }
      @media screen and (max-width: 576px) {
        right: -90px;
      }

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 159px;
        @media screen and (max-width: 992px) {
          height: 100px;
        }
      }
    }
  }
}

.webinar {
  margin-bottom: 20px;

  &__title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: $black-color;
    margin-bottom: 8px;
    @media screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 4px;
    }
  }

  &__download {
    position: relative;
    display: block;
    text-decoration: none;
    color: $blue-color;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding-left: 22px;
    transition: all 0.25s;
    @media screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 20px;
      padding-left: 16px;
    }

    &:before {
      content: '';
      display: block;
      height: 18px;
      width: 18px;
      border: 4px solid $blue-color2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border-radius: 50%;
      transition: all 0.25s;
      @media screen and (max-width: 992px) {
        height: 12px;
        width: 12px;
      }
    }

    &:hover {
      text-decoration: none;
      color: $red-color;

      &:before {
        border-color: $red-color;
      }
    }
  }

  &__time {
    margin-bottom: 4px;
    position: relative;
    font-family: "Circe", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: $blue-color;
    padding-left: 20px;

    @media screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 14px;
      padding-left: 16px;
    }

    &:before {
      content: '';
      display: block;
      height: 16px;
      width: 16px;
      position: absolute;
      top: 0;
      bottom: 1px;
      left: 0;
      margin: auto;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../img/clock.svg");
      @media screen and (max-width: 992px) {
        height: 12px;
        width: 12px;
      }
    }
  }
}























