.page-block {
  padding: 32px 0;

  &.page-block1 {
    margin-top: -95px;
    position: relative;
    padding-bottom: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 37.87%, $light-blue-color2 100.69%);
    @media screen and (max-width: 992px) {
      margin-top: -70px;
    }

    &:after {
      content: '';
      display: none;
      height: 235px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../img/title-after.png), linear-gradient(180deg, rgba(255, 255, 255, 0) 47.87%, $light-blue-color2 76.69%);
      mix-blend-mode: normal;
    }

    .page-block__content, .page-block__title {
      position: relative;
      z-index: 2;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: $blue-color;
    letter-spacing: 0.01em;
    @media screen and (max-width: 992px) {
      font-size: 36px;
      line-height: 42px;
    }
    @media screen and (max-width: 576px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 16px;
    }
  }

  &__content {
    max-width: 980px;
    margin: auto;
  }

  .accordion {
    margin-bottom: 32px;

    .card {
      margin-bottom: 12px;
      border: none;
      border-radius: 0;

      .collapse {
        margin-bottom: 32px;
        @media screen and (max-width: 992px) {
          margin-bottom: 18px;
        }
      }

      &-header {
        background: $light-blue-color;
        border-radius: 2px;
        padding: 24px 40px 24px 65px;
        position: relative;
        border: none;
        cursor: pointer;
        font-size: 20px;
        line-height: 28px;
        font-family: 'Circe', sans-serif;
        font-weight: bold;
        color: $black-color;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media screen and (max-width: 992px) {
          padding: 24px;
        }
        @media screen and (max-width: 576px) {
          font-size: 16px;
          line-height: 22px;
          padding: 12px;
        }

        &:after {
          content: '';
          display: block;
          height: 40px;
          width: 40px;
          flex-shrink: 0;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-image: url("../img/arrow-ios-down4.svg");
          transition: all 0.25s;
          margin-left: 10px;
          @media screen and (max-width: 576px) {
            margin-left: 6px;
            height: 32px;
            width: 32px;
          }
        }

        &[aria-expanded="false"] {
          background: $light-blue-color2;

          &:after {
            transform: rotate(0);
            background-image: url("../img/arrow-gray.svg");
          }
        }

        &[aria-expanded="true"] {
          background: $light-blue-color;

          &:after {
            transform: rotate(180deg);
            background-image: url("../img/arrow-ios-down4.svg");
          }
        }
      }

      &-body {
        padding: 12px 40px;
        border-bottom: 2px solid rgba(210, 220, 230, 0.4);
        @media screen and (max-width: 992px) {
          padding: 12px 0 0 0;
        }

        .main-text {
          padding: 24px;
          background: $light-blue-color2;
          border-radius: 2px;
          font-size: 18px;
          line-height: 26px;
          font-family: 'Circe', sans-serif;
          font-weight: bold;
          color: $black-color;
          margin-bottom: 12px;
          @media screen and (max-width: 576px) {
            padding: 10px 12px;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 18px;
          }
        }

        ul {
          list-style: none;
          padding-left: 30px;
          margin-bottom: 24px;
          font-size: 16px;
          line-height: 24px;
          @media screen and (max-width: 992px) {
            padding-left: 10px;
            font-size: 14px;
            line-height: 20px;
          }
          @media screen and (max-width: 576px) {
            margin-bottom: 16px;
            font-size: 12px;
            line-height: 18px;
          }

          li {
            display: block;
            position: relative;
            padding-left: 28px;
            margin-bottom: 0;
            font-family: "PT Sans", sans-serif;
            font-size: 16px;
            line-height: 24px;
            @media screen and (max-width: 576px) {
              font-size: 12px;
              line-height: 18px;
              padding-left: 16px;
            }

            &:before {
              content: '';
              display: block;
              height: 16px;
              width: 16px;
              position: absolute;
              left: 0;
              top: 5px;
              border-radius: 50%;
              border: 4px solid $blue-color2;
              box-sizing: border-box;
              @media screen and (max-width: 576px) {
                height: 12px;
                width: 12px;
                top: 3px;
                border-width: 3px;
              }
            }
          }
        }

        p {
          font-family: "PT Sans", sans-serif;
          font-size: 16px;
          line-height: 24px;
          color: $black-color;
          padding: 0 24px;
          margin-bottom: 20px;
          @media screen and (max-width: 992px) {
            padding: 0;
          }
          @media screen and (max-width: 576px) {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 16px;
          }

          span {
            color: $blue-color;
          }
        }
      }
    }
  }
}

.page-block-mcp {
  font-family: "Circe", sans-serif;
  padding: 0 24px;
  @media screen and (max-width: 1200px) {
    padding: 0;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .btn {
    @media screen and (max-width: 768px) {
      width: 240px;
    }
  }

  &__text {
    width: 330px;
    margin-right: 39px;
    flex-shrink: 0;
    color: $blue-color;
    font-size: 24px;
    line-height: 30px;
    @media screen and (max-width: 992px) {
      margin-right: 30px;
    }
    @media screen and (max-width: 768px) {
      margin-right: 0;
      width: 100%;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 15px;
    }
  }

  &__image {
    width: 100%;
    height: 220px;
    border-radius: 2px;
    overflow: hidden;
    padding: 32px;
    background-color: $blue-color;
    background-image: url("../img/pb-mcp.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 992px) {
      height: 329px;
      background-size: cover;
      padding: 45px 21px;
      justify-content: flex-end;
    }
    @media screen and (max-width: 768px) {
      height: 360px;
      padding: 27px 21px;
    }
  }

  &__title {
    color: $white-color;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
    @media screen and (max-width: 992px) {
      font-size: 30px;
      line-height: 38px;
    }
    @media screen and (max-width: 768px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.enterprises {
  &__item {
    display: block;
    align-items: flex-start;
    padding: 20px;
    align-self: stretch;
    background-color: $blue-color2;
    position: relative;
    border-radius: 2px;
    min-height: 83px;
    transition: all 0.25s;
    margin: 0 24px 24px 0;
    width: calc((100% / 3) - 16px);
    flex-shrink: 0;
    justify-content: space-between;
    overflow: hidden;

    &:nth-child(3n) {
      margin: 0 0 24px 0;
      @media screen and (max-width: 992px) {
        margin: 0 24px 24px 0;
      }
    }

    &:nth-child(2n) {
      @media screen and (max-width: 992px) {
        margin: 0 0 24px 0;
      }
    }

    @media screen and (max-width: 992px) {
      width: calc((100% / 2) - 24px);
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      margin: 0 0 16px 0 !important;
      padding: 16px 16px 16px 20px;
    }

    &:before {
      content: '';
      display: block;
      width: 150px;
      height: 150px;
      position: absolute;
      opacity: 0.2;
      border-radius: 50%;
      border: 35px solid $white-color;
      bottom: 17px;
      right: -8px;
      @media screen and (max-width: 992px) {
        right: -30px;
      }
    }

    &:hover {
      background-color: $blue-color;
      text-decoration: none;

      .enterprises__title {
        text-decoration: none;
        color: $white-color;
      }
    }
  }

  &__item-big {
    width: calc((100% / 2) - 12px);
    background-color: #0090E1;
    @media screen and (max-width: 992px) {
      height: 114px;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      height: 100px;
    }

    &:last-child {
      margin-right: 0;
    }

    .enterprises__title {
      z-index: 2;
      color: $white-color;
      @media screen and (max-width: 576px) {
        font-size: 20px;
        line-height: 24px;
        max-width: 240px;
      }
    }

    &:before {
      right: 20%;
      border-color: $blue-color;
      opacity: 0.4;
      z-index: 1;
      @media screen and (max-width: 992px) {
        right: 10px;
        bottom: 40px;
      }
    }

    &:hover {
      &:before {
        border-color: $white-color;
      }
    }
  }

  &__title {
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $light-blue-color2;
    @media screen and (max-width: 576px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__icon {
    height: 48px;
    width: 48px;
    display: block;
    flex-shrink: 0;
    position: relative;
    margin-left: 5px;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.documents {
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: calc(50% - 15px);
    height: 152px;
    flex-shrink: 0;
    padding: 24px;
    border-radius: 2px;
    background-color: $light-blue-color;
    transition: all 0.25s;
    margin-bottom: 30px;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 152px;
    }

    @media screen and (max-width: 576px) {
      width: 100%;
      height: 234px;
      text-align: center;
      flex-direction: column;
      margin-bottom: 16px;
      justify-content: flex-start;
      align-items: center;
    }

    &:after {
      content: '';
      display: block;
      width: 150px;
      height: 150px;
      position: absolute;
      border: 35px solid rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      bottom: 87px;
      right: 97px;
      z-index: 1;
      @media screen and (max-width: 576px) {
        top: -70px;
        right: 20px;
      }
    }

    .icon {
      width: 48px;
      height: 48px;
      margin-left: 26px;
      flex-shrink: 0;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../img/document1.svg");
      z-index: 2;
      @media screen and (max-width: 576px) {
        width: 36px;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
        order: 1;
        margin-bottom: 18px;
      }
    }

    &:hover, &:focus {
      background-color: #0090E1;
      text-decoration: none;

      .icon {
        background-image: url("../img/document.svg");
      }

      .documents__title {
        color: $white-color;
        text-decoration: none;
      }
    }
  }

  &__title {
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: $blue-color;
    max-height: 100%;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.25s;
    z-index: 2;
    @media screen and (max-width: 576px) {
      order: 2;
      font-size: 12px;
      line-height: 18px;
      -webkit-line-clamp: 7;
      max-height: calc(7 * 18px);
    }
  }

  &__item-raketa {
    position: relative;
    background-color: $white-color;
    padding: 0;
    @media screen and (max-width: 576px) {
      height: 152px;
    }

    &:after {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: contain;
      @media screen and (max-width: 576px) {
        object-fit: cover;
      }
    }

    &:hover {
      cursor: default;
      background-color: $white-color;
    }
  }
}


.content {
  &-block {
    background: $light-blue-color2;
    border-radius: 2px;
    padding: 24px;
    align-items: flex-start;
    margin-bottom: 24px;
    @media screen and (max-width: 576px) {
      padding: 12px;
    }

    &__number {
      width: 80px;
      height: 80px;
      background-color: $light-blue-color;
      border-radius: 50%;
      flex-shrink: 0;
      color: $blue-color;
      font-family: "Circe", sans-serif;
      font-weight: bold;
      font-size: 40px;
      line-height: 80px;
      text-align: center;
      margin-right: 19px;
      @media screen and (max-width: 992px) {
        width: 64px;
        height: 64px;
        font-size: 30px;
        line-height: 64px;
      }
      @media screen and (max-width: 576px) {
        width: 48px;
        height: 48px;
        font-size: 24px;
        line-height: 48px;
      }
    }

    &__text {
      font-family: "Circe", sans-serif;
      color: $black-color;
      font-size: 18px;
      line-height: 26px;
      @media screen and (max-width: 992px) {
        font-size: 16px;
        line-height: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &-accordion {
    margin-bottom: 64px;
    @media screen and (max-width: 576px) {
      margin-bottom: 52px;
    }

    .card {
      border: none;
      border-radius: 0;

      &-header {
        border-radius: 2px;
        font-family: "Circe", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        padding: 24px 40px 24px 32px;
        border: none;
        cursor: pointer;
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
        color: #DCEBFA;
        @media screen and (max-width: 992px) {
          padding: 24px;
        }
        @media screen and (max-width: 576px) {
          padding: 12px;
          font-size: 16px;
          line-height: 24px;
        }

        .icon {
          height: 32px;
          width: 32px;
          flex-shrink: 0;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        &[aria-expanded="true"] {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #00A9E0;

          .icon {
            background-image: url("../img/minus-circle-white.svg");
          }
        }

        &[aria-expanded="false"] {
          background: $blue-color2;
          color: $white-color;

          .icon {
            background-image: url("../img/plus-white2.svg");
          }
        }
      }

      &-body {
        padding: 0;
        border: 4px solid $blue-color2;
        @media screen and (max-width: 576px) {
          border: 2px solid $blue-color2;
          border-bottom-width: 4px;
        }

        table {
          width: 100%;
          box-sizing: border-box;
          border-radius: 2px;
          font-family: "Circe", sans-serif;

          thead {
            tr:first-child {
              th {
                border-top: none;
              }
            }

            th {
              padding: 20px;
              background-color: $blue-color;
              font-size: 24px;
              line-height: 30px;
              color: $white-color;
              border: 4px solid $blue-color2;
              @media screen and (max-width: 992px) {
                font-size: 20px;
                line-height: 22px;
              }
              @media screen and (max-width: 576px) {
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                padding: 16px 12px;
              }

              &:nth-child(1) {
                width: 80%;
                border-left: none;
                @media screen and (max-width: 576px) {
                  width: 100%;
                }
              }

              &:nth-child(2) {
                width: 20%;
                text-align: center;
                min-width: 200px;
                border-right: none;
                @media screen and (max-width: 576px) {
                  width: 93px;
                  min-width: 90px;
                }
              }
            }
          }

          tbody {
            td {
              border: 4px solid $light-blue-color2;
              padding: 10px 24px;
              font-size: 18px;
              line-height: 26px;
              font-family: "PT Sans", sans-serif;
              @media screen and (max-width: 992px) {
                font-size: 14px;
                line-height: 20px;
              }
              @media screen and (max-width: 576px) {
                font-size: 12px;
                line-height: 18px;
                padding: 6px;
              }

              &:nth-child(1) {
                //border-left: none;
                @media screen and (max-width: 576px) {
                  border-left-color: $blue-color2;
                }
              }

              &:nth-child(2) {
                text-align: center;
                // border-right: none;

                @media screen and (max-width: 576px) {
                  border-right-color: $blue-color2;
                }
              }
            }

            tr {
              /*border-top: 2px solid $light-blue-color2;
              border-bottom: 2px solid $light-blue-color2;*/
              &:last-child {
                td {
                  border-bottom: none;
                }
              }
            }

            td[colspan="2"] {
              background-color: $blue-color2;
              border-color: $blue-color2;
              color: $white-color;
              text-align: center;
              font-size: 22px;
              line-height: 22px;
              border-left-color: $blue-color2;
              border-right-color: $blue-color2;

              @media screen and (max-width: 992px) {
                font-size: 20px;
                line-height: 20px;
              }
              @media screen and (max-width: 576px) {
                font-size: 14px;
                line-height: 20px;
                padding: 12px;
              }
            }

            .separator {
              border: 2px solid $light-blue-color;
              @media screen and (max-width: 576px) {
                border: none;
              }

              td {
                background: #DCEBFA;
                padding: 16px 0;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.08em;
                color: $blue-color;
                font-weight: bold;
                border: 4px solid $light-blue-color;
                //border-bottom: none;
                @media screen and (max-width: 576px) {
                  font-size: 18px;
                  line-height: 22px;
                  padding: 10px;
                  border-right-color: $blue-color2;
                  border-left-color: $blue-color2;
                }
              }
            }

            .table-line {
              border-top: 2px solid $blue-color2;
              border-bottom: 2px solid $blue-color2;
            }
          }
        }
      }
    }
  }

  p {
    font-family: "Circe", sans-serif;
    color: $black-color;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;
    padding: 0 24px;
    @media screen and (max-width: 992px) {
      padding: 0;
      font-size: 14px;
      line-height: 20px;
    }

    @media screen and (max-width: 576px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    @media screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 20px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 20px;
    }

    li {
      display: block;
      position: relative;
      padding-left: 28px;
      margin-bottom: 0;
      font-family: "PT Sans", sans-serif;
      font-size: 16px;
      line-height: 24px;
      @media screen and (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        padding-left: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 14px;
        line-height: 20px;
        padding-left: 16px;
      }

      &:before {
        content: '';
        display: block;
        height: 16px;
        width: 16px;
        position: absolute;
        left: 0;
        top: 5px;
        border-radius: 50%;
        border: 4px solid $blue-color2;
        box-sizing: border-box;
        @media screen and (max-width: 992px) {
          height: 14px;
          width: 14px;
        }
        @media screen and (max-width: 576px) {
          height: 12px;
          width: 12px;
          top: 3px;
          border-width: 3px;
        }
      }
    }
  }

  h3 {
    margin-bottom: 32px;
    padding: 0 24px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    font-family: "Circe", sans-serif;
    color: $blue-color;
    @media screen and (max-width: 992px) {
      padding: 0;
      font-size: 28px;
      line-height: 36px;
    }

    @media screen and (max-width: 576px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 12px;
    }
  }

  h5 {
    font-family: "Circe";
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $blue-color;
    margin-bottom: 20px;
    padding: 0 24px;
    @media screen and (max-width: 992px) {
      padding: 0;
      font-size: 20px;
      line-height: 28px;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  h6 {
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #2C2A29;
    margin-bottom: 20px;
    @media screen and (max-width: 992px) {
      font-size: 16px;
      line-height: 24px;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  hr {
    margin-bottom: 32px;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.content-block-mcp {
  background-color: $white-color;
  padding-right: 236px;
  position: relative;
  @media screen and (max-width: 992px) {
    padding-right: 139px;
  }
  @media screen and (max-width: 768px) {
    padding-right: 16px;
    padding-bottom: 76px;
  }

  .content-block__number {
    margin-right: 26px;
    @media screen and (max-width: 576px) {
      margin-right: 12px;
    }
  }

  &__link {
    position: absolute;
    right: -16px;
    height: 52px;
    background: $blue-color;
    border-radius: 2px 26px 26px 2px;
    width: 214px;
    display: block;
    padding: 12px 30px;
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: $light-blue-color;
    transition: all 0.4s;
    @media screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 28px;
      padding: 12px 5px 12px 15px;
      width: 137px;
    }
    @media screen and (max-width: 768px) {
      right: auto;
      left: 112px;
      bottom: 16px;
      top: auto;
      border-radius: 2px;
      width: 137px;
      height: 48px;
      text-align: center;
      padding: 10px;
    }

    @media screen and (max-width: 576px) {
      left: 75px;
    }

    &.top {
      top: 0;
      @media screen and (max-width: 768px) {
        top: auto;
        bottom: 16px;
      }
    }

    &.bottom {
      bottom: 0;
      @media screen and (max-width: 768px) {
        top: auto;
        bottom: 16px;
      }
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
      box-shadow: 0px 4px 25px rgba(0, 94, 184, 0.25);
      background: linear-gradient(163.96deg, #005EB8 12.37%, #00A9E0 66.99%), #00A9E0;
      color: $white-color;
    }
  }
}

.content-white-block {
  background-color: $white-color;
  padding: 24px 32px 1px 32px;
  margin-bottom: 26px;
  @media screen and (max-width: 992px) {
    padding: 24px 24px 1px 24px;
  }
  @media screen and (max-width: 768px) {
    padding: 16px 16px 1px 16px;
  }

  ul {
    margin-left: 96px;
    margin-bottom: 24px;
    @media screen and (max-width: 992px) {
      margin-left: 40px;
    }
    @media screen and (max-width: 768px) {
      margin-left: 16px;
    }
  }
}

.content-doc {
  background: $white-color;
  box-shadow: 0px 4px 25px rgba(0, 94, 184, 0.25);
  border-radius: 2px;
  margin-bottom: 26px;
  padding: 32px;
  @media screen and (max-width: 992px) {
    padding: 24px;
  }
  @media screen and (max-width: 768px) {
    padding: 16px;
    margin-bottom: 18px;
  }

  &__list {
    align-items: flex-start;
    justify-content: space-around;
    @media screen and (max-width: 992px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    background: $blue-color2;
    border-radius: 2px;
    min-height: 96px;
    padding: 24px;
    align-items: flex-start;
    text-decoration: none;
    transition: all 0.25s;
    width: calc((100% / 3) - 48px);
    overflow: hidden;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      width: calc((100% / 3) - 16px);
      min-height: 70px;
      padding: 18px;
    }
    @media screen and (max-width: 768px) {
      width: calc(100% - 26px);
      max-width: 400px;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:after {
      content: '';
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 35px solid rgba(255, 255, 255, 0.2);
      position: absolute;
      bottom: 30px;
      left: 201px;
      @media screen and (max-width: 992px) {
        bottom: 15px;
      }
      @media screen and (max-width: 576px) {
        left: 143px;
      }
    }

    &:hover {
      background-color: $blue-color;
      text-decoration: none;

      .content-doc__title {
        text-decoration: none;
      }
    }
  }

  &__title {
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: $white-color;
    text-decoration: none;
    @media screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__icon {
    height: 48px;
    width: 48px;
    flex-shrink: 0;
    margin-left: 10px;
    @media screen and (max-width: 992px) {
      height: 32px;
      width: 32px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.content-file {
  border-radius: 2px;
  background-color: $white-color;
  margin-bottom: 26px;
  padding: 24px;
  @media screen and (max-width: 992px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 768px) {
    padding: 16px;
    margin-bottom: 18px;
  }

  p {
    font-family: "Circe", sans-serif;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #2C2A29;
    margin-bottom: 0;
    padding: 0;
    @media screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }
  }

  .content-doc__item {
    width: 100%;
    @media screen and (max-width: 768px) {
      margin: auto;
    }

    .content-doc__title {
      font-size: 24px;
      @media screen and (max-width: 992px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.support {
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/sup-bg.png"), linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 65.67%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(98.53deg, #005EB8 12.37%, #00A9E0 66.99%);
  @media screen and (max-width: 768px) {
    background-image: none;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 65.67%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(98.53deg, #005EB8 12.37%, #00A9E0 66.99%);
  }

  &-block {
    border-bottom: 2px solid $light-blue-color;

    @media screen and (max-width: 768px) {
      background: rgba(240, 248, 255, 0.8);
      padding: 24px 10px;
      border-bottom: 2px solid #DCEBFA;
    }

    &:last-child {
      border: none;
      margin-bottom: 0;
    }

    .col-md-4 {
      @media screen and (max-width: 992px) {
        max-width: calc(100% / 11 * 4 + 20px);
        flex-basis: calc(100% / 11 * 4 + 20px);
      }
      @media screen and (max-width: 768px) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }

    .col-md-8 {
      @media screen and (max-width: 992px) {
        max-width: calc(100% / 11 * 7 - 20px);
        flex-basis: calc(100% / 11 * 7 - 20px);
      }
      @media screen and (max-width: 768px) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }

    &__title {
      padding-top: 48px;
      font-family: "Circe", sans-serif;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      color: $blue-color;
      letter-spacing: 0.02em;
      padding-right: 30px;
      @media screen and (max-width: 1200px) {
        font-size: 32px;
        line-height: 38px;
        padding-right: 15px;
      }
      @media screen and (max-width: 992px) {
        font-size: 28px;
        line-height: 36px;
        padding-right: 24px;
      }
      @media screen and (max-width: 768px) {
        padding: 0 20px;
        margin-bottom: 30px;
        text-align: center;
        br {
          display: none;
        }
      }
      @media screen and (max-width: 576px) {
        padding: 0 10px;
        font-size: 22px;
        line-height: 28px;
      }
    }

    &__content {
      padding: 48px 20px 48px 30px;
      background-color: $light-blue-color2;
      border-right: 4px solid $light-blue-color;
      border-left: 4px solid $light-blue-color;
      @media screen and (max-width: 992px) {
        padding: 30px;
      }
      @media screen and (max-width: 768px) {
        padding: 0;
        border: none;
        background-color: transparent;
      }
    }

    &__list {
      margin-bottom: 0 !important;

      li {
        &:last-child a {
          margin-bottom: 0;
        }
      }

      li a {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
        color: $blue-color;
        display: block;
        transition: all 0.25s;
        @media screen and (max-width: 992px) {
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 16px;
        }
        @media screen and (max-width: 576px) {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 20px;
        }

        &:hover {
          text-decoration: none;
          cursor: pointer;
          color: $blue-color2;
        }
      }
    }
  }
}
