@import "case";
@import "case-page";
@import "case-event";

.cases {
  @media (min-width: 992px) {
    max-width: 1140px;
  }
}

.cases-title {
  transform: translateY(15px);
}

.cases__item {
  margin: 0 auto 30px;
}

.footer__main--lk-min {
  display: none;
}

.industries {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  background-image: url("../img/bg-circle.png"), linear-gradient(0deg, #F0F8FF -15%, rgba(255, 255, 255, 0) 38.79%), linear-gradient(180deg, #F0F8FF 18.85%, rgba(255, 255, 255, 0) 82.81%), linear-gradient(130.16deg, #005EB8 12.37%, #00A9E0 66.99%);
}

.case {
  &-industries {
    .case-page__item:first-child {
    }

    .case-page__content {
      max-width: 75% !important;
      flex-basis: 75% !important;
    }

    .case-page__feed {
      border-radius: 20px 20px 2px 2px;

      &.border-radius-0 {
        border-radius: 0 0 2px 2px;
      }
    }

    .case-page__item {
      h1 {
        font-size: 36px;
        line-height: 36px;
        @media screen and (max-width: 992px) {
          font-size: 32px;
        }
        @media screen and (max-width: 768px) {
          font-size: 26px;
        }
      }
      p {
        font-size: 18px;
        line-height: 24px;
        @media screen and (max-width: 1200px) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &__aside {
      padding-top: 24px;
      @media screen and (max-width: 768px) {
        display: none;
      }

      .structure__new {
        border-radius: 2px;
        display: block;
        margin-bottom: 30px;
        min-height: 280px;

        &--image {
          padding-bottom: 120%;
        }

        &--title {
          font-size: 14px;
          line-height: 18px;
          font-weight: 600;
        }
      }
    }
  }
}

.aside__industries {
  background: $light-blue-color;
  border-radius: 0px 80px 2px 0px;
  padding: 32px 37px 32px 32px;
  color: $blue-color;
  font-family: "Circe", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  @media screen and (max-width: 1200px) {
    padding: 24px 37px 24px 24px;
  }
  @media screen and (max-width: 992px) {
    border-radius: 0;
    font-size: 18px;
    line-height: 28px;
    padding: 24px;
  }
  @media screen and (max-width: 576px) {
    font-size: 16px;
    line-height: 24px;
  }
}
