.case-event {
    position: relative;
    margin-bottom: 24px;
    overflow: hidden;

    @media (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
        min-height: 282px;
        max-width: 212px;
    }
}

.case-event__picture {

}

.case-event__image {
    max-width: 100%;
    display: block;
}

.case-event__block {
    position: absolute;
    padding: 20px 24px 25px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 94, 184, 0.3);
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        filter: blur(10px);
        height: 174px;
        overflow: hidden;
        background: rgba(0, 94, 184, 0.3);
    }
}

.case-event__description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: Circe, sans-serif;
    color: #fff;
    position: relative;
    @media (max-width: 1199px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.case-event__link {
    position: relative;
}