.case {
  display: block;
  background-color: #fff;
  border-radius: 4px;
  transition: all .4s ease;
  overflow: hidden;

  &:hover, &:active {
    text-decoration: none;
    box-shadow: 0 4px 25px rgba(0, 94, 184, 0.25);
  }

  @media screen and (max-width: 576px) {

  }
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 992px) {
  }
}

.case__block {
  padding-top: 24px;
  padding-bottom: 24px;
  @media screen {
    padding-left: 13px;
    padding-right: 13px;
  }
  @media (min-width: 768px) {
    padding-left: 18px;
    padding-right: 18px;
  }
  @media (min-width: 992px) {
    padding-left: 24px;
    padding-bottom: 24px;
  }

  transition: background .4s ease;
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #dcebfa;
}


.case:hover .case__block {
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #f0f8ff;
}

.case__title {
  padding-top: 8px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  border-top: 2px solid #00a9e0;
  margin: 0 0 8px;
  height: 66px;
  overflow: hidden;
}

.case:hover .case__title {
  color: #005eb8;
}

.case__description {
  font-size: 14px;
  font-family: "Circe", sans-serif;
  line-height: 20px;
  color: #656d74;
  transition: color .4s ease;
  height: 80px;
  overflow: hidden;
  margin: 0 0 1px;
}

.case:hover .case__description {
  color: #000;
}

.case__picture {
  @media (min-width: 992px) {
    display: block;
    height: 233px;
    overflow: hidden;
  }
}

.case__image {
  display: block;
  max-width: 100%;
}

.case-add {
  position: relative;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  background: url(../img/cases/case-add-case.png) bottom right no-repeat;
  background-size: cover;
  padding: 32px;
}

.case-add--small {

}

.case-add--small .case-add__block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 94, 184, 0.3);
  padding: 24px 20px;
}

.case-add__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  font-family: "Circe", sans-serif;
  color: #fff;
  margin-bottom: 24px;
}

.case-add--small .case-add__title {
  font-size: 20px;
  line-height: 28px;
}

.case-add__link {
  min-width: 245px;
  height: 40px;
  font-size: 20px;
  line-height: 24px;
}


