.case-page {
    padding-bottom: 0;
    @media (min-width: 1200px) {
        background-position: right 120px;
    }
    background: #f0f8ff url(../img/cases/case-page-bg.png) center bottom no-repeat;
}

.case-page__block {
    margin-top: -136px;
    @media (max-width: 1199px) {
        padding: 0 15px;
    }
}

.case-page__container {
    max-width: 1160px;
}

.case-page__content {
    max-width: none;
    position: relative;
    @media (max-width: 767px) {
        margin-bottom: 24px;
    }
    @media (min-width: 768px) {
        flex-basis: 480px;
    }
    @media (min-width: 992px) {
        flex-basis: 620px;
    }
}

.case-page__feed {
    position: relative;
    font-family: Circe, sans-serif;
    background-color: #fff;
    padding-bottom: 22px;
    @media screen {
        border-radius: 20px 20px 0 0;
    }
    @media (min-width: 768px) {
        border-radius: 20px 0 0 0;
    }
}


.case-page__item {
    @media screen {
        padding: 18px 24px 2px;
        font-size: 16px;
        line-height: 22px;
    }
    @media (min-width: 1200px) {
        padding: 20px 32px 4px 32px;
        font-size: 18px;
        line-height: 24px;
    }

    a {
        color: #005eb8;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    h1 {
        font-weight: 800;
        font-family: inherit;
        color: #005eb8;
        @media screen {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 19px;
        }
        @media (min-width: 1200px) {
            font-size: 32px;
            line-height: 34px;
            margin-bottom: 24px;
        }
    }

    h2 {
        font-family: inherit;
        @media screen {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 14px;
        }
        @media (min-width: 1200px) {
            font-size: 26px;
            line-height: 28px;
            margin-bottom: 16px;
        }
    }

    > img {
        display: block;
        max-width: 100%;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 14px;
    }

    ul {
        margin: -4px 0 14px;
        padding: 0;
        list-style-type: none;
    }

    li {
        position: relative;
        padding-left: 26px;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &::before {
            content: "";
            width: 18px;
            height: 18px;
            border: 4px solid #00a9e0;
            position: absolute;
            top: 2px;
            left: 0;
            border-radius: 50px;
        }
    }

    article {
        font-weight: 700;
        background-color: #dcebfa;
        color: #005eb8;

        @media screen {
            padding: 13px 16px 24px;
            margin: 0 -24px 20px;

            font-size: 16px;
            line-height: 22px;
        }
        @media screen and (max-width: 767px) {
            border-radius: 0 0 20px 20px;
            text-align: center;
        }
        @media (min-width: 768px) {
            font-size: 18px;
            line-height: 26px;
        }
        @media (min-width: 1200px) {
            font-size: 20px;
            line-height: 32px;
            padding: 20px 0 20px 32px;
            margin: 0 -32px 20px;
        }
    }

    picture {
        display: block;
        background-color: #dcebfa;
        border-radius: 0 20px 20px 0;
        box-sizing: border-box;
        z-index: 2;
        @media screen and (max-width: 767px) {
            padding-top: 16px;
        }
        @media (min-width: 768px) {
            position: absolute;
            left: 100%;
            width: 228px;
            height: 288px;
            top: 0;
            padding: 24px;
        }
        @media (min-width: 1200px) {
            width: 508px;
            height: 360px;
            top: 0;
            padding: 32px;
        }

        img {
            max-width: 100%;
            display: block;
        }
    }
}

.case-page__item:not(:last-child) {
    border-bottom: 2px solid #d2dce6
}

.case-page__aside {
    position: relative;
    @media screen {
        width: 100%;
    }
    @media (min-width: 768px) and (max-width: 1199px){
        flex-basis: 244px;
        padding-top: 305px;
        .case__block {
            padding: 14px 10px;
        }
        .case__title {
            font-size: 14px;
            line-height: 20px;
            height: auto;
        }
        .case__description {
            font-size: 12px;
            line-height: 18px;
            height: 87px;
        }
    }
    @media (min-width: 1200px) {
        flex-basis: 444px;
        padding-top: 391px;
    }
}

.case-page__cases {
    margin-left: auto;
    margin-right: auto;
    @media screen {
        max-width: 212px;
    }
    @media (min-width: 1200px) {
        max-width: 350px;
    }
}

.case-page__cases-item {
    margin-bottom: 32px;
}

.case-page__cases-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.case-page__cases-link span {
    display: block;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    height: 12px;
    width: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -3px;
    transform: rotate(45deg);
    transition: all 0.25s;
}

.case-page__cases-link:hover span {
    margin-left: 10px;
    margin-right: 0;
}

.case-page__event {
    @media (min-width: 768px) and (max-width: 1199px) {
        //padding-left: 16px;
    }
    @media (min-width: 1200px) {
        padding-left: 32px;

    }
}
